{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PolyBingo</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/successImage.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    {% block css %} {% endblock css %}

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    {% block js %} {% endblock js %}
  </head>

  <body>
    {% block content %} {% endblock content %}

    <div class="lowerNavigation">
      <ul>
        <li><a href="{% url 'bingo_main:about' %}">About</a></li>
        <li><a href="{% url 'bingo_main:why_and_how' %}">Why and How</a></li>
        <li><a href="{% url 'bingo_main:pricing' %}">Pricing</a></li>
        <li><a href="{% url 'bingo_main:terms' %}">Terms and Conditions</a></li>
        <li><a href="{% url 'bingo_main:contact' %}">Contact</a></li>
      </ul>
    </div>

    <div class="playCode">
      <form class="modal play">
        <div class="logoContainer">
          <img class="logo" src="{% static 'images/logo.svg' %}" alt="" />
          <i
            class="fa fa-arrow-left"
            aria-hidden="true"
            id="backarrow"
            onclick="closePlay()"
          ></i>
        </div>

        <label for="pin">Game Pin</label>
        <div class="pinContainer">
          <input
            type="text"
            name="pin1"
            id="pin1"
            maxlength="1"
            size="1"
            pattern="\d*"
            inputmode="numeric"
            class="pinNumber"
            oninput="next(this, 'pin2')"
            required
          />
          <input
            type="text"
            name="pin2"
            id="pin2"
            maxlength="1"
            size="1"
            pattern="\d*"
            inputmode="numeric"
            class="pinNumber"
            oninput="next(this, 'pin3')"
            required
          />
          <input
            type="text"
            name="pin3"
            id="pin3"
            maxlength="1"
            size="1"
            pattern="\d*"
            inputmode="numeric"
            class="pinNumber"
            oninput="next(this, 'pin4')"
            required
          />
          <input
            type="text"
            name="pin4"
            id="pin4"
            maxlength="1"
            size="1"
            pattern="\d*"
            inputmode="numeric"
            class="pinNumber"
            oninput="next(this, 'name')"
            required
          />
        </div>
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          pattern="[a-zA-Z0-9\s]+"
          required
        />
        <!-- <input type="submit" class="playButton" value="Play!"> -->
        <input
          type="button"
          onclick="openBingo(url={% url 'bingo_main:check_game_id' %})"
          class="playButton"
          value="Play!"
        />
        <div class="errorBox" id="submitError">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto,
          repellendus.
        </div>
      </form>
    </div>
    <script src="{% static 'js/loadGame.js' %}"></script>
    <script>
      // window.addEventListener('resize', getImageHeight());
      window.addEventListener("resize", function () {
        getImageHeight();
      });

      setInterval(() => {
        //switchImages();
      }, 6000);
      //switchImages();

      function switchImages() {
        document.querySelectorAll(".imageContainer").forEach((el) => {
          let images = el.querySelectorAll(".infoImage");
          images[0].style.opacity = 0;
          images[1].style.opacity = 1;
          setTimeout(() => {
            images[0].style.opacity = 1;
            images[1].style.opacity = 0;
          }, 3000);
        });
      }

      function getImageHeight() {
        if (window.innerWidth < 800) return;
        let descriptionArray = document.querySelectorAll(".descriptionText");
        descriptionArray.forEach((el) => {
          el.parentNode.querySelector(".infoImage").style.height =
            el.offsetHeight + "px";
        });
      }

      getImageHeight();
    </script>

    {% block js_bottom %} {% endblock js_bottom %}
  </body>
</html>
