{% load static %}
{% load i18n %}
{% get_current_language as lang %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polybingo-Customizable Bingo Photo-Games - Play Page</title>

    <!-- SEO/WhatsApp setup -->
    <meta name="description" content="Polybingo, platform for online and offline customizable photo-bingo games">
    <meta property="og:title" content="Polybingo-Customizable Bingo Photo-Games-Play Page" />
    <meta property="og:url" content="https://www.polybingo.com/play/" />
    <meta property="og:description" content="Polybingo, platform for online and offline customizable photo-bingo games">
    <meta property="og:image" content="{% static 'images/polybingo-logotype-new-1024x1024.png' %}">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="he_HE" />
    <meta property="og:locale:alternate" content="es_ES" />
    <!-- End setup -->
    
    <link rel="icon" type="image/x-icon" href="{% static 'images/polybingo-logotype-new.png' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bingo.css' %}">
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


</head>

<body>

    <div class="bingoContainer">
        <div class="bingoIndex">
            <a href="{% url 'bingo_main:bingo_main' %}"><img class="profilePic"
                    src="{% static 'images/polybingo-logotype-new.png' %}" alt=""></a>
            <div class="lrgText" id="playerName">
            </div>
            <img class="profilePic" src="{{ host_logo.url }}" alt="" onclick="window.location.href = '{% url "bingo_main:bingo_main" %}'">
            <!-- <img class="bingoLogo" src="{% static 'images/polybingo-logo.png' %} alt="" onclick="window.location.href = './'"> -->
        </div>
        <div id="cardStages">

            <div id="approval" class="lrgText">
                {% if lang == 'he' %}
                ...{% trans 'Waiting for host approval. Hold on' %}
                {% else %}
                {% trans 'Waiting for host approval. Hold on' %}...
                {% endif %}
            </div>
            <div id="startingSoon" class="lrgText">
                {% if lang == 'he' %}
                ...{% trans 'Game starting soon. Just a second' %}
                {% else %}
                {% trans 'Game starting soon. Just a second' %}...
                {% endif %}
            </div>
            <div id="game-ended" class="lrgText">
                {% trans 'Game Over. Thank you for playing' %}
            </div>

            <div id="card">
                <div class="header">
                    {% trans 'Ticket Number' %} {{ board.board_number }}
                </div>
                <div class="bingoTable" id="card_area">

                </div>
            </div>
        </div>
        <div class="bingoBottom">
            <div>
                {%trans 'Win Condition' %}
            </div>
            <div id="currentImageTitle">
                {% trans 'Current Image' %}
            </div>
            <div></div>
            <div class="winCondition"></div>
                {% if game.current_picture.image_file.url %}
                <img src="{{ game.current_picture.image_file.url }}" id="currentImage" alt="" class="currentImage">
                {% else %}
                <img src="{% static 'images/placeholder-white.png' %}" id="currentImage" alt="" class="currentImage">
                {% endif %}
            <div>
                <a class="bingo-button" href="#" id="bingo-button" onclick="bingo_shout()">
                    <span>{% trans 'Bingo!' %}</span>
                </a>
                <audio preload="auto">
                    <source src="{% static 'sounds/Boxing_arena_sound.mp3' %}" type="audio/mp3" />
                    <source src="{% static 'sounds/Boxing_arena_sound.wav' %}" type="audio/wav" />
                </audio>
                <!-- <div class="stump black" onclick="changeStump(this,'black')"></div>
                <div class="stump green" style="border: 3px solid #00d0ff" onclick="changeStump(this,'green')"></div>
                <div class="stump red" onclick="changeStump(this,'red')"></div> -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<style>
    .coc {
        color: #570916
    }
</style>
    <script>

        let player_id;
        let player_status;

        $(document).ready(function () {
            document.querySelector('.bingoContainer').style.height = window.innerHeight + 'px';
            getData();
            let imagesLoaded = 0;
            // Total images is still the total number of <img> elements on the page.
            let totalImages = $('img').length;

            $('img').each(function (idx, img) {
                $('<img>').on('load', imageLoaded).attr('src', $(img).attr('src'));
            });

            function imageLoaded() {
                imagesLoaded++;
                if (imagesLoaded == totalImages) {
                    allImagesLoaded();
                }
            }

            function allImagesLoaded() {
                //document.querySelector('#startingSoon').style.display = 'none';
            }
        });

        function markBingo(el) {
            if (el.style.backgroundColor) {
                el.style.backgroundColor = '';
            } else {
                let colour = window.stump ? window.stump : 'green';
                el.style.backgroundColor = '#570916';
            }
        }

        function changeStump(el, colour) {
            document.querySelectorAll('.stump').forEach(el => {
                el.style.border = "";
            });
            el.style.border = '3px solid #00d0ff';
            window.stump = colour;
        }

        function getCard() {
            // Api for checking when the next card is called. Will highlight if you missed a card. API will need to return the Image URL to be checked against the card image source.

            setTimeout(() => {

            }, 1000);

            // If player has missed the card highlight
            el.style.border = "3px solid red";
        }

        let table = document.querySelector('.bingoTable');

        function getData(event) {
            const queryString = window.location.search;

            //const urlParams = new URLSearchParams(queryString);
            //document.querySelector('#playerName').innerHTML = urlParams.get('name') ? urlParams.get('name') : '{{ player.nickname }}';
            document.querySelector('#playerName').innerHTML = '{{ player.nickname }}';
            //document.getElementById('currentImage').src = '{{ game.current_picture.image_file.url }}';

            setTimeout(() => {

                document.querySelector('.bingoTable').style.width = document.querySelector('.bingoTable')
                    .clientHeight +
                    'px';
                //document.querySelector('.currentImage').style.width = document.querySelector('.currentImage').clientHeight + 'px';
            }, 100);

            // if (!urlParams.get('code')) return window.location.href = './';

            // Create a request to the backend to get the data from the card based on the code provided;

            let size = '{{ board.size }}';

            console.log(`SIZE: ${size}`)

            //let winCondition = urlParams.get('winCondition') ? urlParams.get('winCondition') : 'bingo';
            let winCondition = '{{ game.current_winning_conditions }}';

            //let approvalRequired = urlParams.get('approval') ? urlParams.get('approval') : 'true';

            //approvalRequired = false;



            //if (!approvalRequired) document.querySelector('#approval').style.display = 'none';

            // Create a loop to check if the game has started yet
            //document.querySelector('#startingSoon').style.display = 'none';
            if (window.innerWidth < 800) {
                switch (size) {
                    case '4':
                        table.style.gridTemplateColumns = 'repeat(4, 1fr)';
                        table.style.gridTemplateRows = 'repeat(4, 1fr)';
                        break;
                    case '5':
                        table.style.gridTemplateColumns = 'repeat(5, 1fr)';
                        table.style.gridTemplateRows = 'repeat(5, 1fr)';
                        break;
                    default:
                        size = '3';
                        table.style.gridTemplateColumns = 'repeat(3, 1fr)';
                        table.style.gridTemplateRows = 'repeat(3, 1fr)';
                        break;
                }
            } else {
                switch (size) {
                    case '5':
                        table.style.gridTemplateRows = 'repeat(5, 1fr)';
                        table.style.gridTemplateColumns = 'repeat(5, 1fr)';
                        break;
                    case '4':
                        table.style.gridTemplateRows = 'repeat(4, 1fr)';
                        table.style.gridTemplateColumns = 'repeat(4, 1fr)';
                        break;
                    default:
                        size = '3';
                        table.style.gridTemplateRows = 'repeat(3, minmax(0, 1fr))';
                        table.style.gridTemplateColumns = 'repeat(3, 1fr)';
                        break;
                }
            }
            if (event) return resizeBox(size);

            table.innerHTML = "";

            console.log(`started: {{ game.started }}`);
            console.log(`auto join: {{ game.auto_join_approval }}`);
            console.log(`player approved: {{ player.approved }}`);
            {% if game.ended %}
                console.log('Game Ended');
                document.querySelector('#approval').style.display = 'none';
                document.querySelector('#startingSoon').style.display = 'none';
                document.querySelector('#bingo-button').style.display = 'none';
                document.querySelector('#game-ended').style.display = true;
    

            {% elif game.started and game.auto_join_approval or game.started and not game.auto_join_approval and player.approved %}
                console.log('Game Started');
                document.querySelector('#approval').style.display = 'none';
                document.querySelector('#startingSoon').style.display = 'none';
                document.querySelector('#game-ended').style.display = 'none';
                document.querySelector('#bingo-button').style.display = 'block';

                console.log(`curr image: {{ game.current_picture.image_file.url }}`);

                //Populating the board images on page load/refresh
                ///////////////////////////////////////////////////
                {% for pic in board_pictures %}
                table.innerHTML +=
                    `<div class="field" onclick="markBingo(this)">
                        {% if pic.matched %}
                        <div class="overlay">
                            <div style="font-weight: bold; font-size: clamp(25px, 8vw, 2vw);">{% trans 'Match' %}</div>
                        </div>
                        {% endif %}
                        <img src="{{ pic.image.image_file.url }}" alt="">

                    </div>`;
                {% endfor %}
            
            {% elif not game.auto_join_approval and not player.approved %}
            console.log('Player not approved');
            document.querySelector('#approval').style.display = true;
            document.querySelector('#startingSoon').style.display = 'none';
            document.querySelector('#bingo-button').style.display = 'none';
            document.querySelector('#game-ended').style.display = 'none';
            
            {% elif not game.auto_join_approval and player.approved and not game.started %}
            console.log('Game not started');
            document.querySelector('#approval').style.display = 'none';
            document.querySelector('#startingSoon').style.display = true;
            document.querySelector('#bingo-button').style.display = 'none';
            document.querySelector('#game-ended').style.display = 'none';

            {% else %}
            console.log('Error logic')
            document.querySelector('#startingSoon').style.display = true;
            document.querySelector('#bingo-button').style.display = 'none';
            document.querySelector('#game-ended').style.display = 'none';
            
            {% endif %}

            document.querySelector('.winCondition').innerHTML = "";

            if (winCondition == 'bingo') {
                for (let index = 0; index != 9; index++) {
                    document.querySelector('.winCondition').innerHTML +=
                        '<div class="field"><div class="circle"></div></div>';
                }
            }

            if (winCondition == '1line') {
                for (let index = 0; index != 3; index++) {
                    document.querySelector('.winCondition').innerHTML +=
                        '<div class="field"><div class="circle"></div></div>';
                }
                for (let index = 0; index != 6; index++) {
                    document.querySelector('.winCondition').innerHTML +=
                        '<div class="field"></div>';
                }
            }

            if (winCondition == '2line') {
                for (let index = 0; index != 6; index++) {
                    document.querySelector('.winCondition').innerHTML +=
                        '<div class="field"><div class="circle"></div></div>';
                }
                for (let index = 0; index != 3; index++) {
                    document.querySelector('.winCondition').innerHTML +=
                        '<div class="field"></div>';
                }
            }

            setTimeout(() => {
                resizeBox(size);
            }, 100);

        }

        function resizeBox(size) {

            setTimeout(() => {
                if (document.querySelector('.bingoTable .field') != null) {
                    let width = document.querySelector('.bingoTable .field').clientHeight;

                    (window.innerHeight > 800) ? document.querySelector('.winCondition').style.width = document
                        .querySelector('.winCondition')
                        .clientHeight + 'px' : document.querySelector('.winCondition').style.width = '';
                    width = document.querySelector('.winCondition .field').clientWidth;
                }
            }, 30);

        }
        window.addEventListener('resize', function (e) {
            document.querySelector('.bingoContainer').style.height = window.innerHeight + 'px';
            getData('resize');
        });

    
        let gameId = '{{ game.game_id }}';
        
        $(document).ready(function () {

            const scheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
            console.log(`Game ${gameId} WS is ready!`)
            const gameSocket = new WebSocket(
                scheme
                + window.location.host
                + '/ws/game/'
                + gameId
                + '/'
            );

            gameSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);

                console.log(`DATA RECEIVED: ${e.data}`);
                console.log(`Player status: ${data.message.player_status}`);
                console.log(`Player ID: ${data.message.player_id}`);

                if (data.message.game_status == 'game_ended_status') {
                    window.location.reload(true);
                    
                    /*
                    document.querySelector('#approval').style.display = 'none';
                    document.querySelector('#startingSoon').style.display = 'none';

                    $.ajax({
                        url: "{% url 'bingo_main:player_board' player_id=player.pk %}",
                        success: function (response) {
                            console.log(`Result: ${response}`);
                            //$('#card_area').html(response);
                        }
                    })
                    */
        

                } else if (data.message.player_status == 'approved' && data.message.player_id == '{{ player.pk }}') {
                    console.log(`player ID : ${data.message}`);
                    console.log(`player status : ${data.status}`);

                    console.log('Game not started YET');
                    document.querySelector('#approval').style.display = 'none';
                    document.querySelector('#startingSoon').style.display = true;
                    location.reload();

                } else if (data.message.data) {

                    // Board images
                    table.innerHTML = "";
                    let matched_founded = ""
                    //Updating the board with next picture results
                    //////////////////////////////////////////////
                    let disp_id_image;
                    {% for pic in board_pictures %}
                        disp_id_image = {{ pic.pk }}
                        if (data.message.drawn_list.includes(disp_id_image)){
                            console.log('MATCH!!!!');
                            table.innerHTML +=
                            `<div class="field" onclick="markBingo(this)">
                                <div class="overlay">
                                    <div style="font-weight: bold; font-size: clamp(25px, 8vw, 2vw);">{% trans 'Match' %}</div>
                                </div>
                                <img src="{{ pic.image.image_file.url }}" alt="">
                            </div>`;
                        } else {
                            table.innerHTML +=
                            `<div class="field" onclick="markBingo(this)">
                                {% if pic.matched %}
                                <div class="overlay">
                                    <div style="font-weight: bold; font-size: clamp(25px, 8vw, 2vw);">{% trans 'Match' %}</div>
                                </div>
                                {% endif %}
                                <img src="{{ pic.image.image_file.url }}" alt="">
                            </div>`;
                        }
                    {% endfor %}
                    
                    {% if game.auto_matching %}
                        setTimeout(function() {
                         //location.reload();
                         console.log('no refresh')
                         }, 1000);
                    {% endif %}

                    // Current image section
                    console.log(`CURRENT PICTURE : ${data.message.data}`);
                    console.log(`DISPLAY IMAGES IDS : ${data.message.disp_ids}`);
                    document.getElementById('currentImage').src = data.message.data;
                    document.getElementById('currentImageTitle').innerHTML = data.message.title;
                    
                    // Winning conditions section
                    winCondition = data.message.current_winning_conditions;
                    document.querySelector('.winCondition').innerHTML = "";

                    if (winCondition == 'bingo') {
                        for (let index = 0; index != 9; index++) {
                            document.querySelector('.winCondition').innerHTML +=
                                '<div class="field"><div class="circle"></div></div>';
                        }
                    }
        
                    if (winCondition == '1line') {
                        for (let index = 0; index != 3; index++) {
                            document.querySelector('.winCondition').innerHTML +=
                                '<div class="field"><div class="circle"></div></div>';
                        }
                        for (let index = 0; index != 6; index++) {
                            document.querySelector('.winCondition').innerHTML +=
                                '<div class="field"></div>';
                        }
                    }
        
                    if (winCondition == '2line') {
                        for (let index = 0; index != 6; index++) {
                            document.querySelector('.winCondition').innerHTML +=
                                '<div class="field"><div class="circle"></div></div>';
                        }
                        for (let index = 0; index != 3; index++) {
                            document.querySelector('.winCondition').innerHTML +=
                                '<div class="field"></div>';
                        }
                    } 
                    if (data.message.game_status == 'game_started') {
                        console.log('START GAME!!!!!');
                        location.reload();
                    }    
                }


                //            document.querySelector('#game-log').value += (data.message.nickname + '\n');

            };

            gameSocket.onclose = function(e) {
                console.log('Socket is closed. Reconnect will be attempted in 5 seconds.', e.reason);
                setTimeout(function() {
                  location.reload();
                }, 5000);
              };

            document.getElementById('bingo-button').onclick = (function() {
                document.getElementsByTagName('audio')[0].play();
                
                //Send WS message about this bingo shout
                gameSocket.send(JSON.stringify({
                    'message_type': 'bingo_shout', 
                    'data': {
                        'game_id': gameId,
                        'player_id': '{{ player.pk }}',
                    },
                }));
    
                return false;
            });
    
            /*
            */
        })


    </script>


</html>