{% extends 'bingo_main/base.html' %}
{% load static %}

{% block content %}
    
    {% include 'bingo_main/partials/_navbar_index.html' %}

    <div class="descriptionContainer">
        <div class="infoBox">
            <div class="imageContainer">
                <img src="{% static 'images/placeholder.png' %}" class="infoImage" alt="">
                <img src="{% static 'images/bingoScreen.png' %}" class="infoImage" alt="">
            </div>
            <div class="descriptionText">
                <span class="descriptionTitle">
                    Host a game
                </span>
                <p></p>
                YOU can host a bingo game made of pictures (instead of numbers). Broadcast the game on the big screen
                and your guests will be able to join and get tickets to play with their own devices.
            </div>
        </div>
        <div class="infoBox infoBoxLeft">
            <div class="imageContainer">
                <img src="{% static 'images/placeholder.png' %}" class="infoImage" alt="">
                <img src="{% static 'images/publicBingos.png' %}" class="infoImage" alt="">
            </div>
            <div class="descriptionText">
                <span class="descriptionTitle">
                    Choose the prizes
                </span>
                <p></p>
                JUST create the bingo from pictures yourself or choose one of our public bingo's. Choose the prize each
                game with our custom bingo system (you can add prize image)!
            </div>
        </div>
        <div class="infoBox">
            <div class="imageContainer">
                <img src="{% static 'images/placeholder.png' %}" class="infoImage" alt="">
                <img src="{% static 'images/prizeCheck.png' %}" class="infoImage" alt="">
            </div>
            <div class="descriptionText">
                <span class="descriptionTitle">
                    Bingo!
                </span>
                <p></p>
                When someone says BINGO , type in the ticket number and check with everyone on the main screen if they
                have won, after the game ends don't stop there! Start a new game straight away HOW FUN!
            </div>
        </div>
    </div>

{% endblock content %}