{% extends 'bingo_main/base.html' %}
{% load static %}

{% block content %}
    
    {% include 'bingo_main/partials/_navbar_index.html' %}

    <div class="descriptionContainer">
        <div class="infoBox">
            <div class="imageContainer">
                <!-- <img src="{% static 'images/placeholder.png' %}" class="infoImage" alt="">
                <img src="{% static 'images/bingoScreen.png' %}" class="infoImage" alt=""> -->
                <img src="{{ section_a.image_1.url }}" class="infoImage" alt="">
                <!-- <img src="{{ section_a.image_2.url }}" class="infoImage" alt=""> -->

            </div>
            <div class="descriptionText">
                <span class="descriptionTitle">
                    {{ section_a.title | safe}}
                </span>
                <p></p>
                {{ section_a.content |safe}}
            </div>
        </div>
        <div class="infoBox infoBoxLeft">
            <div class="imageContainer">
                <!-- <img src="{% static 'images/placeholder.png' %}" class="infoImage" alt="">
                <img src="{% static 'images/publicBingos.png' %}" class="infoImage" alt=""> -->
                <img src="{{ section_b.image_1.url }}" class="infoImage" alt="">
                <!-- <img src="{{ section_b.image_2.url }}" class="infoImage" alt=""> -->
            </div>
            <div class="descriptionText">
                <span class="descriptionTitle">
                    {{ section_b.title | safe}}
                </span>
                <p></p>
                {{ section_b.content |safe}}
            </div>
        </div>
        <div class="infoBox">
            <div class="imageContainer">
                <!-- <img src="{% static 'images/placeholder.png' %}" class="infoImage" alt="">
                <img src="{% static 'images/prizeCheck.png' %}" class="infoImage" alt=""> -->
                <img src="{{ section_c.image_1.url }}" class="infoImage" alt="">
                <!-- <img src="{{ section_c.image_2.url }}" class="infoImage" alt=""> -->
            </div>
            <div class="descriptionText">
                <span class="descriptionTitle">
                    {{ section_c.title | safe}}
                </span>
                <p></p>
                {{ section_c.content |safe}}
            </div>
        </div>
    </div>

{% endblock content %}