{% extends 'bingo_main/base.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}

{% get_current_language as lang %}

{% block gtm %}
{% endblock gtm %}

{% block content %}

<section class="inner-page" {% if lang == 'he' %} dir='rtl' align='right' {% else %}
    style="text-align: left;" {% endif %}>
    <div class="container">
        <div class="row d-flex" style="margin-top: 5%; margin-bottom: 10%">
            <div class="col-md-6">
                <div class="row mr-4 ml-4">
                    <h4>{% trans 'Login with' %}</h4>
                </div>
                <div class="mt-4">
                    <a title="Facebook" class="socialaccount_provider facebook" 
                    href="{% provider_login_url "facebook" process='login'  %}">
                    <img style="width: 60%;" src="{% static 'images/facebook-login-button.png' %}" />
                    </a>
                </div>
                <div class="mt-4 mb-4">
                    <a title="Google" class="socialaccount_provider google" 
                    href="{% provider_login_url "google" process='login'  %}">
                    <img style="width: 60%;" src="{% static 'images/google-login-button.png' %}" />
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="registerForm" id="">
                    <form class="form-group" method="POST" enctype="multipart/form-data" action="{% url 'bingo_main:bingo_main_login' %}">
                        {% csrf_token %}
                        <label for="email">{% trans 'Email' %}</label>
                        <input type="email" class="form-control" name="username" id="email" required>
                        <label for="password">{% trans 'Password' %}</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                        <input type="text" hidden name="next_url" id="next_url">
                        <input type="submit" class="btn btn-success mt-2" value="{% trans 'Login' %}" 
                            onclick="updateGTM({event: 'login', userId: '{{ user.pk }}'});">
                        <div class="" id="">
                            {% trans 'Do not have an account' %}? {% trans 'Register' %} <a
                                href="{% url 'bingo_main:bingo_main_register' term=term plan_id=plan_id %}">{% trans 'here' %}</a>
                        </div>
                    </form>
                    <hr>
                    <div class="" id="">
                        <a href="{% url 'users:password_reset' %}">{% trans 'Forgot your password' %}?</a>
                    </div>
            </div>
            </div>


        </div>
    </div>
    </div>

    <script>
        //Setting and sending the next URL to backend
        const queryString = window.location.search;
        console.log(queryString);
        const urlParams = new URLSearchParams(queryString);
        console.log(urlParams.get('next'));
        next_url_e = document.getElementById('next_url')
        next_url_e.value = urlParams.get('next')
    </script>
    {% endblock content %}