{% extends 'bingo_main/base.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}

{% get_current_language as lang %}

{% block content %}


{% include 'bingo_main/partials/_navbar_index.html' %}

<section class="ftco-section services-section bg-light" {% if lang == 'he' %} dir='rtl' align='right' {% else %}
    style="text-align: left;" {% endif %}>
    <div class="container">
        <!-- <div class="row mt-4">
            <div class="col" align='center'>
                <h2>{% trans 'Login' %}</h2>
            </div>
        </div> -->
        <div class="row d-flex" style="margin-top: 5%; margin-bottom: 10%">
            <div class="col-md-6">
                <div class="row mr-4 ml-4">
                    <h4>{% trans 'Login with' %}</h4>
                </div>
                <div class="mt-4">
                    <a title="Facebook" class="socialaccount_provider facebook" 
                    href="{% provider_login_url "facebook" process='login'  %}">
                    <img style="width: 60%;" src="{% static 'images/facebook-login-button.png' %}" />
                    </a>
                </div>
                <div class="mt-4 mb-4">
                    <a title="Google" class="socialaccount_provider google" 
                    href="{% provider_login_url "google" process='login'  %}">
                    <img style="width: 60%;" src="{% static 'images/google-login-button.png' %}" />
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="registerForm" id="">
                    <form class="form-group" method="POST" action="{% url 'bingo_main:bingo_main_login' %}">
                        {% csrf_token %}
                        <label for="email">{% trans 'Email' %}</label>
                        <input type="email" class="form-control" name="username" id="email" required>
                        <label for="password">{% trans 'Password' %}</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                        <input type="submit" class="btn btn-success mt-2" value="{% trans 'Login' %}">
                        <div class="" id="">
                            {% trans 'Do not have an account' %}? {% trans 'Register' %} <a
                                href="{% url "bingo_main:bingo_main_register" %}">{% trans 'here' %}</a>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
    </div>
    {% endblock content %}