
{% extends 'bingo_main/base.html' %}
{% load static %}
{% block content %}

    {% include 'bingo_main/partials/_navbar_index.html' %}

    <div class="registerForm">
        <form class="modal" action="{% url 'bingo_main:bingo_main_register' %}" method="POST">
            {% csrf_token %}
            <label for="name">Name *</label>
            <input type="text" name="name" id="name" pattern="[a-zA-Z0-9\s]+" required>
            <label for="email">Add your logo</label>
            <input type="file" name="complogo" id="complogo">
            <!-- <label for="email">Username *</label>
            <input type="text" name="username" id="username" required> -->
            <label for="email">Email *</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password *</label>
            <input type="password" name="password1" id="password1" required minlength="5">
            <label for="password">Confirm Password *</label>
            <input type="password" name="password2" id="password1" required minlength="5">
            <label for="country">Country *</label>
            <br>
            <select name="country" id="country" required>
                <option value="">Choose your country...</option>
            </select>
            <br>
            <label for="company">Company Name</label>
            <input type="text" name="company" id="company">
            <label for="vat">VAT Number</label>
            <input type="text" name="vat" id="vat">
            <input type="submit" class="playButton grey" value="Register!">
        </form>
    </div>
{% endblock content %}

{% block js_bottom %}

<script>
    function getHeight() {
        if (window.innerWidth < 600) return document.querySelector('.registerForm').style.height = '';
        document.querySelector('.registerForm').style.minHeight = window.innerHeight - document.querySelector(
            '.lowerNavigation').clientHeight - document.querySelector('.navbarIndex').clientHeight - 60 + 'px';
    }

    getHeight();

    $.ajax({
        method: 'GET',
        url: 'https://restcountries.eu/rest/v2/all?fields=name;',
        success: res => {
            res.forEach(country => {
                document.querySelector('#country').innerHTML +=
                    `<option value=${country.name}>${country.name}</option>`;
            })
            getLocation();
        }
    })

    function getLocation() {
        fetch('https://extreme-ip-lookup.com/json/')
            .then(res => res.json())
            .then(response => {
                document.querySelector(`option[value=${response.country}`).setAttribute('selected', 'selected');
            })
            .catch((data, status) => {})
    }

    window.addEventListener('resize', function (e) {
        getHeight();
    });
</script>
{% endblock js_bottom %}