{% extends 'bingo_main/base.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
{% get_current_language as lang %}

{% block content %}

{% include 'bingo_main/partials/_navbar_index.html' %}
<section class="ftco-section services-section bg-light" {% if lang == 'he' %} dir='rtl' align='right' {% else %}
    style="text-align: left;" {% endif %}>
    {% if user.is_authenticated %}
    <div class="row d-flex" style="margin-top: 5%; margin-bottom: 10%">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>{% trans 'You are logged in' %}</h1>
            <button class="btn btn-secondary mt-5" onclick="window.location.href='{% url "bingo_main:dashboard" %}'"> {% trans 'Go to Dashboard' %}</button>
        </div>
        <div class="col-md-4"></div>
    </div>
{% else %}
    <div class="container">
        <!-- <div class="row mt-4">
            <div class="col" align='center'>
                <h1>{% trans 'Registration' %}</h1>
            </div>
        </div> -->
        <div class="row d-flex" style="margin-top: 5%; margin-bottom: 10%">
            <div class="col-md-6">
                <div class="row mr-4 ml-4">
                    <h4>{% trans 'Register an existing account' %}</h4>
                </div>
                <div class="mt-4">
                    <a title="Facebook" class="socialaccount_provider facebook" 
                    href="{% provider_login_url "facebook" process='login' %}">
                    <img style="width: 60%;" src="{% static 'images/facebook-login-button.png' %}" />
                    </a>
                </div>
                <div class="mt-4 mb-4">
                    <a title="Google" class="socialaccount_provider google" 
                    href="{% provider_login_url "google" process='login'  %}">
                    <img style="width: 60%;" src="{% static 'images/google-login-button.png' %}" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="registerForm">
                    <h4 class="mr-2 ml-2">{% trans 'Register with your email' %}</h4>
                    <form class="form-group" action="{% url 'bingo_main:bingo_main_register' %}" method="POST">
                        {% csrf_token %}                
                        <!-- <label for="name">{% trans 'Name' %} *</label>
                        <input type="text" class="form-control" name="name" id="name" pattern="[a-zA-Z0-9\s]+" required>
                        <label for="email">{% trans 'Add your logo' %}</label>
                        <input type="file" class="form-control btn btn-warning" name="complogo" id="complogo"> -->
                        <!-- <label for="email">Username *</label>
                        <input type="text" name="username" id="username" required> -->
                        <label for="email">{% trans 'Email' %} *</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                        <label for="password">{% trans 'Password' %} *</label>
                        <input type="password" class="form-control" name="password1" id="password1" required minlength="5">
                        <label for="password">{% trans 'Confirm Password' %} *</label>
                        <input type="password" class="form-control" name="password2" id="password1" required minlength="5">
                        <label for="country">{% trans 'Country' %} *</label>
                        <br>
                        <select name="country" class="form-control" id="country" required>
                            <option value="">{% trans 'Choose your country' %}...</option>
                        </select>
                        <br>
                        <!-- <label for="company">{% trans 'Company Name' %}</label>
                        <input type="text" class="form-control" name="company" id="company">
                        <label for="vat">{% trans 'VAT Number' %}</label>
                        <input type="text" class="form-control" name="vat" id="vat"> -->
                        
                        <p><input type="checkbox" id="newsletter" name="newsletter" checked>
                            {% trans 'I wish to receive information, offers, recommendations, and updates from' %} Polybingo</p>
                        
                        <div class="">
                            {% trans 'Already have an account' %}? {% trans 'Login' %} <a href="{% url "bingo_main:bingo_main_login" %}">{% trans 'here' %}</a>
                        </div>
                        <hr>
                        <p>{% trans 'By signing up, you accept our' %} <a href="{% url 'bingo_main:terms' %}" target="_blank"> {% trans 'Terms and Conditions' %}</a>
                            . {% trans 'Please read our' %} <a href="{% url 'bingo_main:privacy' %}" target="_blank"> {% trans 'Privacy Policy' %}</a> </p>
                        
                        <input type="submit" class="btn btn-success mt-2" value="{% trans 'Register' %}">
    
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock content %}

{% block js_bottom %}

<script>

    $.ajax({
        method: 'GET',
        url: 'https://restcountries.eu/rest/v2/all?fields=name;',
        success: res => {
            res.forEach(country => {
                document.querySelector('#country').innerHTML +=
                    `<option value=${country.name}>${country.name}</option>`;
            })
            getLocation();
        }
    })

    function getLocation() {
        console.log('getting location...');
        fetch('https://extreme-ip-lookup.com/json/')
            .then(res => res.json())
            .then(response => {
                document.querySelector(`option[value=${response.country}`).setAttribute('selected', 'selected');
            })
            .catch((data, status) => { })
    }

    window.addEventListener('resize', function (e) {
        getHeight();
    });
</script>
{% endblock js_bottom %}