{% extends 'bingo_main/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as lang %}

{% block title %}{% trans 'Polybingo-Terms & Conditions' %}{% endblock title %}

{% block content %}

<section class="inner-page" {% if lang == 'he' %} dir='rtl' align='right' {% else %}
    style="text-align: left;" {% endif %}>
    <div class="container">
        <div class="row justify-content-center mb-2 pb-1 pt-3">
            <div class="col-md-7 text-center heading-section">
                <h2 class="mb-4">{% trans 'Terms & Conditions' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ terms.content |safe }}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}