{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatrixBingo</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/successImage.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'broadcast/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'broadcast/css/game.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="landscapeOnly">
        <span>
            Please rotate your device to continue...
        </span>
    </div>
    <div class="alignCenter">
        <div class="sidebar">
            <div id="prizeContainer">
                <div class="prizeBox" id="prize">
                    {{ current_game.prize_1_name }}
                    <br>
                    <img class="prizeImage" src="{{ current_game.prize_1_image_file.url }}"></img>
                </div>
                <div class="prizeBox" id="winCondition">
                    Bingo
                    <br>
                    <div class="bingoTable"></div>
                </div>
            </div>
            <img src="{% static 'images/speakerPlay.png' %}" class="speaker" alt="">
            <blockquote class="speech bubble" id="message">
                <em>{{ current_picture.title }}!</em>
            </blockquote>
        </div>
        <div class="innerContainer" id="bingoGrid">
            {% if game_ended %}
                <img src="{% static 'images/placeholder.png' %}" id="currentImage" alt="">
            {% else %}
                <img src="{{ current_picture.image_file.url }}" id="currentImage" alt="">
            {% endif %}
            <div class="imageList">
                {% for pic in current_shown_pictures %}
                    <div class="middle">
                        <div class="field">
                            <img src="{{ pic.image_file.url }}" alt="">
                        </div>
                        <div class="field">
                        </div>
                    </div>
                {% endfor %}
                <div class="middle">
                    <div class="field">
                    </div>
                    <div class="field">
                    </div>
                </div>
                <div class="middle">
                    <div class="field">
                    </div>
                    <div class="field">
                    </div>
                </div>
                <div class="middle">
                    <div class="field">
                    </div>
                    <div class="field">
                    </div>
                </div>
                <div class="paddingField">
                    <span id="imagesOut">
                        {{ current_shown_pictures_count }} Out
                    </span>
                    <div class="buttons">
                        
                        <form action="" name="nextPictureForm" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="nextPicture" style="font-family: inherit; width:100%; height:90%"  class="button Next" >Next</button>
                        </form>

                        <div class="button Check" onclick="checkBingo()">
                            <span class="smlText">Check</span>
                            Bingo

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <div class="castButton">
                <google-cast-launcher id="share" --connected-color="white"></google-cast-launcher>
            </div>
        </div>
        <img src="{% static 'images/inGame.png' %}" class="speakerImage" alt="">

    </div>
    <script src="{% static 'broadcast/js/broadcastFunctions.js' %}"></script>
    <script>
        window.addEventListener('resize', function (e) {
            resize();
        });

        function checkBingo() {
            window.location.href = "{% url 'bingo_main:check_board' game_id=current_game.game_id %}"
        }
        window['__onGCastApiAvailable'] = function (isAvailable) {
            if (isAvailable) {
                initializeCastApi();
            }
        };

        initializeCastApi = function () {
            cast.framework.CastContext.getInstance().setOptions({
                receiverApplicationId: chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID
            });
            if (!cast) {
                document.querySelector('.castButton').style.display = 'none';
            }

            document.querySelector('#share').style.display = "block";
        };

        function resize() {
            // Reset
            document.querySelector('#prizeContainer').style = '';
            document.querySelector('#winCondition').style = '';
            document.querySelector('.innerContainer').style = '';
            document.querySelector('.speaker').style = '';

            document.querySelector('body').style.height = window.innerHeight + 'px';
            document.querySelector('.sidebar').style.height = window.innerHeight - 10 + 'px';

            // Resize bingo box to be the same height as the image
            document.querySelector('#prizeContainer').style.maxHeight = document.querySelector('#prize').clientHeight /
                3 + 'px';
            document.querySelector('#winCondition').style.maxHeight = document.querySelector('.innerContainer')
                .clientHeight + 'px';

            document.querySelector('.innerContainer').style.height = window.innerHeight - document.querySelector(
                '.speakerImage').clientHeight + 'px';

            // Resize the speaker to not overlap the display box
            document.querySelector('.speaker').style.maxHeight = window.innerHeight - document.querySelector(
                '#prize').clientHeight + 'px';
            document.querySelector('#landscapeOnly').style.height = window.innerHeight + 'px';

            // Position text box
            let bubble = document.querySelector('#message');

            if (window.innerWidth < 600) {
                bubble.style.left = document.querySelector('.speaker').clientWidth - (document.querySelector('.speaker')
                    .clientWidth / 2.5) + 'px';
                bubble.style.bottom = document.querySelector('.speaker').clientHeight - (document.querySelector(
                    '.speaker').clientHeight / 5) + 'px';
            } else {
                bubble.style.left = document.querySelector('.speaker').clientWidth - (document.querySelector('.speaker')
                    .clientWidth / 3) + 'px';
                bubble.style.bottom = document.querySelector('.speaker').clientHeight - (document.querySelector(
                    '.speaker').clientHeight / 5) + 'px';
            }
        }

        function getData() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let winCondition = urlParams.get('winCondition') ? urlParams.get('winCondition') : 'bingo';
            let content = "";
            if (winCondition == 'bingo') {
                for (let index = 0; index != 9; index++) {
                    content +=
                        '<div class="field"><div class="circle"></div></div>';
                }
            }

            if (winCondition == '1line') {
                for (let index = 0; index != 3; index++) {
                    content +=
                        '<div class="field"><div class="circle"></div></div>';
                }
                for (let index = 0; index != 6; index++) {
                    content +=
                        '<div class="field"></div>';
                }
            }

            if (winCondition == '2line') {
                for (let index = 0; index != 6; index++) {
                    content +=
                        '<div class="field"><div class="circle"></div></div>';
                }
                for (let index = 0; index != 3; index++) {
                    content +=
                        '<div class="field"></div>';
                }
            }

            document.querySelectorAll('.bingoTable').forEach(el => {
                el.innerHTML = content;
            });
        }
    </script>
</body>

</html>