{% load static %}
{% load i18n %}
{% get_current_language as lang %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyBingo</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/polybingo-logotype-new.png' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'broadcast/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'broadcast/css/cardCheck.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>

    <div id="landscapeOnly">
        <span>
            {% trans 'Please rotate your device to continue' %}
        </span>
    </div>
    <div class="alignCenter">
        <div class="sidebar">
            <!-- <div id="prizeContainer">
                <div class="prizeBox" id="prize">
                    {% trans 'Prize Name' %}
                    <br>
                    <img class="prizeImage" src="{{ current_game.prize_1_image_file.url }}"></img>
                </div>
                <div class="prizeBox" id="winCondition">
                    {% trans 'Bingo' %}
                    <br>
                    <div class="bingoTable"></div>
                </div>
            </div> -->
            <!-- <img src="{% static 'images/speakerCheck.png' %}" class="speaker" alt=""> -->
        </div>
        <div id="positionWrapping">
            <div class="innerContainer" id="enterPin">
                <div class="topArea">
                    <img src="{% static 'images/polybingo-logo-new.png' %}" style="width: 70%;" alt="">
                    <div id="topContainer">
                        {% trans 'Game Over' %}
                        <br>
                        {% trans 'Thank you for playing' %}
                    </div>
                    <h4>www.polybingo.com</h4>
                </div>
                <div class="bottomButtons">
                    <!-- <button class="button Check" style="font-family: inherit; width:100%" onclick="self.close()">{% trans 'Close' %}</button> -->
                </div>
            </div>

        </div>
    </div>

</body>

</html>