{% load static %}
{% load i18n %}
{% get_current_language as lang %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyBingo - Game</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/polybingo-logotype-new.png' %}" />
    
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'broadcast/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'broadcast/css/game.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    
        <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
    <div id="landscapeOnly">
        <span>
            {% trans 'Please rotate your device to continue' %}
        </span>
    </div>
    <div class="alignCenter">

        {% include "bingo_main/partials/_prizes_sidebar.html" %}

        <div class="innerContainer" id="bingoGrid">
            {% if game_ended %}
            <!-- <img src="{% static 'images/placeholder.png' %}" id="currentImage" alt=""> -->
            {% else %}
            <img src="{{ current_picture.image_file.url }}" id="currentImage" alt="">
            {% endif %}
            <div class="imageList">
                <div class="middle">
                    <div class="field">
                        <img src="{{ current_shown_pictures.0.image_file.url }}" alt="">
                    </div>
                    <div class="field">
                        {% if current_shown_pictures.1.image_file.url %}
                        <img src="{{ current_shown_pictures.1.image_file.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="middle">
                    <div class="field">
                        {% if current_shown_pictures.2.image_file.url %}
                        <img src="{{ current_shown_pictures.2.image_file.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="field">
                        {% if current_shown_pictures.3.image_file.url %}
                        <img src="{{ current_shown_pictures.3.image_file.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="middle">
                    <div class="field">
                        {% if current_shown_pictures.4.image_file.url %}
                        <img src="{{ current_shown_pictures.4.image_file.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="field">
                        {% if current_shown_pictures.5.image_file.url %}
                        <img src="{{ current_shown_pictures.5.image_file.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="middle">
                    <div class="field">
                    </div>
                    <div class="field">
                    </div>
                </div>

                <div class="paddingField">
                    <span id="imagesOut">
                        {{ current_shown_pictures_count }} {% trans 'Out' %}
                    </span>
                    <div class="buttons">

                        <form action="" name="nextPictureForm" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="nextPicture"
                                style="font-family: inherit; width:100%; height:90%"
                                class="button Next">{% trans 'Next' %}</button>
                        </form>

                        <div class="button Check" onclick="checkBingo()">
                            <span class="smlText">{% trans 'Check' %}</span>
                            {% trans 'Bingo' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chromecast button -->
        <!-- <div class="buttonContainer">
            <div class="castButton">
                <google-cast-launcher id="share" --connected-color="white"></google-cast-launcher>
            </div>
        </div> -->
        <!-- <img src="{% static 'images/inGame.png' %}" class="speakerImage" alt=""> -->

    </div>
    <script src="{% static 'broadcast/js/broadcastFunctions.js' %}"></script>

    <script>
        // Cast Section 
        /* ============ */

        /*
        window['__onGCastApiAvailable'] = function (isAvailable) {
            if (isAvailable) {
                initializeCastApi();
            }
        };

        initializeCastApi = function () {
            cast.framework.CastContext.getInstance().setOptions({
                receiverApplicationId: chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID
            });
            if (!cast) {
                document.querySelector('.castButton').style.display = 'none';
            }

            document.querySelector('#share').style.display = "block";
        };
        
        */
    </script>

    <!-- <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script> -->

    <script>
        window.addEventListener('resize', function (e) {
            resize();
        });

        function checkBingo() {
            window.location.href = "{% url 'bingo_main:check_board' game_id=current_game.game_id %}"
        }
        

        function resize() {
            // Reset
            document.querySelector('#prizeContainer').style = '';
            document.querySelector('#winCondition').style = '';
            document.querySelector('.innerContainer').style = '';
            //document.querySelector('.speaker').style = '';

            document.querySelector('body').style.height = window.innerHeight + 'px';

            // Resize bingo box to be the same height as the image
            const prizeSectionHeight = document.querySelector('#prize').clientHeight;
            prizeContainers = document.querySelectorAll('#prizeContainer');
            
            for (let index = 0; index != prizeContainers.length; index++) {
                prizeContainers[index].style.maxHeight = prizeSectionHeight / 3 + 'px';
            }


            document.querySelector('#winCondition').style.maxHeight = document.querySelector('.innerContainer').clientHeight + 'px';
            document.querySelector('#landscapeOnly').style.height = window.innerHeight + 'px';
        }

        function getData() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let winCondition = urlParams.get('winCondition') ? urlParams.get('winCondition') : '2line';
            let content_bingo = "";
            let content_1line = "";
            let content_2line = "";
            
                for (let index = 0; index != 9; index++) {
                    content_bingo +=
                        '<div class="field"><div class="circle"></div></div>';
                }

                document.querySelectorAll('#bingoTable_bingo').forEach(el => {
                    el.innerHTML = content_bingo;
                });


                for (let index = 0; index != 3; index++) {
                    content_1line +=
                        '<div class="field"><div class="circle"></div></div>';
                }
                for (let index = 0; index != 6; index++) {
                    content_1line +=
                        '<div class="field"></div>';
                }

                document.querySelectorAll('#bingoTable_1line').forEach(el => {
                    el.innerHTML = content_1line;
                });

                for (let index = 0; index != 6; index++) {
                    content_2line +=
                        '<div class="field"><div class="circle"></div></div>';
                }
                for (let index = 0; index != 3; index++) {
                    content_2line +=
                        '<div class="field"></div>';
                }

                document.querySelectorAll('#bingoTable_2line').forEach(el => {
                    el.innerHTML = content_2line;
                });


            /*
            document.querySelectorAll('.bingoTable').forEach(el => {
                el.innerHTML = content;
            });
            */
        }
    </script>
</body>

</html>