{% load static %}
{% load i18n %}
{% get_current_language as lang %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'images/polybingo-logotype-new.png' %}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyBingo - Game Screen</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'broadcast/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'broadcast/css/broadcastIndex.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
        
    <!-- <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script> -->
    <!-- <script type="text/javascript" src="https://www.gstatic.com/cast/sdk/libs/sender/1.0/cast_framework.js"></script> -->
    <!-- <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>

<body {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
    <div id="landscapeOnly">
        <span>
            {% trans 'Please rotate your device to continue' %}
        </span>
    </div>
    <div class="alignCenter" id="video_element">
        
        {% include "bingo_main/partials/_prizes_sidebar.html" %}

        <div class="innerContainer">
            <div class="topArea">
                
        
                <div id="topContainer">
                    <span>PolyBingo.com</span>
                    <br>
                    <div class="gamePin" id="gamePin">{{ current_game.game_id }}</div>
                    {% include 'bingo_main/partials/_messages_inline.html' %}

                </div>
            </div>
            <form action="" name="startGameForm" method="POST">
                {% csrf_token %}
                <div id="ticketArea">
                    <!-- Dynamically loaded from _game_status.html -->
                    <!-- Tickets: 50
                    <div class="button Next" onclick="startGame()">Start Game (Price $5)</div> -->
                    {% trans 'Tickets' %}: <span id="playersCount">{{ current_game.number_of_players }}</span> 
                    <!-- <div class="button Next" onclick="startGame()">Start Game (Price ${{ game_cost }})</div> -->
                    <button type="submit" id="startGame" style="font-family: inherit; width:100%" name="startGameButton" 
                    class="button Next" >{% trans 'Start Bingo' %} ({% trans 'Price' %} $<p id="gamePrice">{{ current_game.game_cost }}</p>)</button>
                     
                </div>
            </form>
        </div>

        <div class="buttonContainer">
            <!-- <div class="castButton"> -->
                <!-- <google-cast-launcher id="share" --connected-color="white"></google-cast-launcher> -->
                <!-- <google-cast-launcher id="castbutton"></google-cast-launcher> -->
                <!-- <form>
                    <button type="button" id="castme">Click To Cast</button>
                </form> -->
            <!-- </div> -->

                <div class="castButton">
                    <i class="fa fa-users" onclick="toggleList()"></i>
                    <div id="userList">
                        {% trans 'Current Players' %}:
                        {% for player in players_list %}
                            <div class="user">
                                {{ player.nickname }}
                                {% if current_game.auto_join_approval %}
                                {% else %}
                                <span>
                                    <i class="fa fa-check" onclick="window.location.href=('{% url 'bingo_main:player_approval' player_id=player.pk approval='ok' %}')"></i>
                                    <i class="fa fa-times" onclick="window.location.href=('{% url 'bingo_main:player_approval' player_id=player.pk approval='no' %}')"></i>
                                </span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
        <!-- <img src="{% static 'images/backgroundBroadcast.png' %}" class="speakerImage" alt=""> -->
    </div>

    <script src="{% static 'broadcast/js/broadcastFunctions.js' %}" defer></script>

    <script>
        resize();
        window.addEventListener('resize', function (e) {
            resize();
        });

        function toggleList() {
            let el = document.querySelector('#userList');

            if (el.style.display == 'grid') {
                el.style.display = 'none';
            } else {
                el.style.display = 'grid';
            }
        }
        
        function resize() {
            // Reset
            document.querySelector('#prizeContainer').style = '';
            document.querySelector('#winCondition').style = '';
            document.querySelector('.innerContainer').style = '';
            //document.querySelector('.speaker').style = '';

            document.querySelector('body').style.height = window.innerHeight + 'px';

            // Resize bingo box to be the same height as the image
            const prizeSectionHeight = document.querySelector('#prize').clientHeight;
            prizeContainers = document.querySelectorAll('#prizeContainer');
            
            for (let index = 0; index != prizeContainers.length; index++) {
                prizeContainers[index].style.maxHeight = prizeSectionHeight / 3 + 'px';
            }


            document.querySelector('#winCondition').style.maxHeight = document.querySelector('.innerContainer').clientHeight + 'px';
            document.querySelector('#landscapeOnly').style.height = window.innerHeight + 'px';
        }

        /*  -------- Prizes handling -------*/
        /* =================================*/

        function getData() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let winCondition = urlParams.get('winCondition') ? urlParams.get('winCondition') : '2line';
            let content_bingo = "";
            let content_1line = "";
            let content_2line = "";
            
                for (let index = 0; index != 9; index++) {
                    content_bingo +=
                        '<div class="field"><div class="circle"></div></div>';
                }

                document.querySelectorAll('#bingoTable_bingo').forEach(el => {
                    el.innerHTML = content_bingo;
                });


                for (let index = 0; index != 3; index++) {
                    content_1line +=
                        '<div class="field"><div class="circle"></div></div>';
                }
                for (let index = 0; index != 6; index++) {
                    content_1line +=
                        '<div class="field"></div>';
                }

                document.querySelectorAll('#bingoTable_1line').forEach(el => {
                    el.innerHTML = content_1line;
                });

                for (let index = 0; index != 6; index++) {
                    content_2line +=
                        '<div class="field"><div class="circle"></div></div>';
                }
                for (let index = 0; index != 3; index++) {
                    content_2line +=
                        '<div class="field"></div>';
                }

                document.querySelectorAll('#bingoTable_2line').forEach(el => {
                    el.innerHTML = content_2line;
                });


            /*
            document.querySelectorAll('.bingoTable').forEach(el => {
                el.innerHTML = content;
            });
            */
        }
    </script>

    <script>
        /*  -------- Websocket handling -------*/
        /* ====================================*/
        let gameId;
        $(document).ready(function() {
            gameId = JSON.parse(document.getElementById('gamePin').textContent);
    
            const scheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
            console.log(`Game ${gameId} WS is ready!`)
            const gameSocket = new WebSocket(
                scheme
                + window.location.host
                + '/ws/game/'
                + gameId
                + '/'
            );    

            gameSocket.onmessage = function(e) {
                //update_players();
                const data = JSON.parse(e.data);
                console.log(`DATA RECEIVED: ${e.data}`);
                console.log(`PLAYERS: ${data.message.players_count}`);
                document.querySelector('#playersCount').innerHTML = data.message.players_count;
                document.querySelector('#gamePrice').innerHTML = data.message.price;
                pollPlayersList ();
    
            };
    
            gameSocket.onclose = function(e) {
                console.log('Socket is closed. Reconnect will be attempted in 5 seconds.', e.reason);
                setTimeout(function() {
                  location.reload();
                }, 5000);
              };
    
    
            update_players = function(){
                $.ajax({
                    url: "{ url 'game:players' user_id=user.pk game_id=game.game_id }",
                    success: function(response) {
                        $('#players').html(response);
                    }
                });								            
            }
        })
        
    </script>

    <script>

    function pollPlayersList () {
        
        $.ajax({
            url: "{% url 'bingo_main:players_approval_list' game_id=current_game.game_id %}",
            success: function(response) {
                console.log("polling players");
                $('#userList').html(response);
            }
        })							
    };

    </script>

    <!-- <script src="{% static 'js/cast_app.js' %}" ></script> -->

    <!-- <script>
        //  Chrome Casting
        /* ===================== */
               
       


        /*
        initializeCastApi = function () {
            cast.framework.CastContext.getInstance().setOptions({
                receiverApplicationId: chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID
            });
            if (!cast) {
                document.querySelector('.castButton').style.display = 'none';
            }

            document.querySelector('#share').style.display = "block";
        };


        /* ======================  */

    </script> -->

    <!-- <script>
        window['__onGCastApiAvailable'] = function(isAvailable) {
          if (isAvailable) {
            initializeCastApi();
          }
        };
    </script> -->
    <!-- <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script> -->
    
    <!-- <script>
        initializeCastApi = function() {
            var castSession = cast.framework.CastContext.getInstance().getCurrentSession();
            
            if (castSession) {
                castSession.addEventListener(
                    cast.framework.SessionEventType.APPLICATION_STATUS_CHANGED,
                    function(applicationStatusEventData){
                        //
                    }
                )
            }

            cast.framework.CastContext.getInstance().setOptions({
              receiverApplicationId: chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID,
              autoJoinPolicy: chrome.cast.AutoJoinPolicy.ORIGIN_SCOPED
            });
            let currentMediaURL = 'http://localhost:8030/broadcast';
            var mediaInfo = new chrome.cast.media.MediaInfo(currentMediaURL);
            var request = new chrome.cast.media.LoadRequest(mediaInfo);
            castSession.loadMedia(request).then(
                function() { console.log('Load succeed'); },
                function(errorCode) { console.log('Error code: ' + errorCode); }
                );
          };

    </script> -->

</body>

</html>