{% extends 'administration/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as lang %}
{% if user.is_superuser %}
{% block content %}
    <form action="" name="newsletterForm" method="POST">
        {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>NewsLetter Admin</h1>
                    </div>
                    {% include 'bingo_main/partials/_messages.html' %}      

                </div>
 
                <div class="row mt-2">
                    <div class="col">
                        <a class="btn btn-primary" href="{% url 'newsletter:newsletter_form' %}" >NEW Newsletter</a>
                    </div>                    
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <form action="" enctype="multipart/form-data" name="selectNewsletterForm" method="POST">
                            {% csrf_token %}
                            <div class="row mt-4">
                                <div class="col-3">
                                    <select class="form-control" name="newsletterSelect" id="newsletterSelect">
                                        <option class="form-select form-control" value="">------------</option>
                                        {% for nl in newsletters %}
                                        <option class="form-select form-control" value="{{ nl.pk }}">{{ nl.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-secondary" name="selectNewsletterButton" type="submit">Preview</button>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-3">
                                    <input class="form-control" type="text" name="testEmail" id="">
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-info" type="submit" name="sendTest" >SEND TEST</button>
                                </div>                    
                            </div>
                            <div class="row mt-4">
                                <div class="col-3">
                                    <button class="btn btn-success" type="submit" name="sendNewsLetter" >SEND NEWSLETTER</button>
                                </div>                    

                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </form>
{% endblock content %}
{% endif %}
