{% extends 'bingo_main/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as lang %}

{% block content %}

{% get_current_language as lang %}

<style>
  @media screen and (max-device-width: 360px) and (orientation: portrait){
    .mobile-header {
        margin-top: 2rem;
    }
  }
</style>

<div class="" style="margin-top: 9rem;">
</div>
<div class="container" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
  <div class="row justify-content-center form-group" style="margin-bottom: 30%;">
    <div class="col-lg-7 mt-5">
        <center>
            <div class="title">
                
            </div>
            <h1 class="text-black mb-3 mobile-header" style="color: black;">{% trans "You are unsubscribed" %}</h1> 
            <a class="button secondaryAction" href="{% url 'newsletter:re_subscribe' user_id=user.pk %}">{% trans "Unsubscribed by mistake / Re-subscribe" %}?</a>
        </center>
    </div>
  </div>    
</div>
{% endblock content %}