server {

    listen   80;
    server_name dilvur.com matrixbingo.com;

    client_max_body_size 4G;
    access_log /home/ubuntu/logs/nginx-vue-access.log;
    error_log /home/ubuntu/logs/nginx-vue-error.log;

    root /home/ubuntu/vue_bingo/bingovue/dist;

    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
