#cardNumber {
    border: none;
    padding: 10px;
    font-size: inherit;
    text-align: center;
    outline: none;
    border-bottom: 2px solid black;
    width: 100%;
}

#enterPin {
    font-size: 1.5em;
}

.Check {
    background: linear-gradient(180deg, rgb(224, 33, 33) 0%, rgb(33, 3, 3) 100%);
}

.button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5px;
}


img {
    max-height: 100%;
    max-width: 100%;
}

.cardContainer {
    height: 100%;
}

#checkPin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
    column-gap: 20px;
    font-size: 0.7em;
}

.cardTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
}

.cardTop img {
    height: 100%;
    width: 100%;
}

#checkPin {
    padding: 20px;
}

#winResult {
    display: none;
    grid-template-rows: auto 1fr;
    font-size: 1.7em;
    height: 100%;
    min-height: 0;
    justify-content: center;
}

#noResult {
    display: none;
    font-size: 1.7em;
}

.sml {
    font-size: 0.8em !important;
}

#winResult img {
    height: 100%;
    margin-top: 10px;
    min-height: 0;
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

.resultContainer {
    display: grid;
    height: 100%;
    min-height: 0;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr auto;
}

.bottomButtons {
    align-self: flex-end;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding: 10px;
}

.bottomButtons .button {
    padding: 5px 10px;
}

.cardNumber {
    padding-top: 5px;
    width: 100%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
}

.alignCenter {
    grid-template-columns: minmax(100px, 1fr) 3fr;
    min-width: 0;
    width: 100vw;
    padding: 10px;
    height: 100%;
}

#positionWrapping {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 0;
}


#checkPin {
    position: absolute;
    top: -100vh;
}

.prizeBox {
    margin: 0;
}

.innerContainer {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s all;
    min-width: 0;
}

@media only screen and (min-width: 800px) and (min-height: 500px) {
    .alignCenter {
        grid-template-columns: minmax(300px, 1fr) 4fr
    }

    #enterPin {
        font-size: 3em;
    }

    #checkPin {
        font-size: 1.4em;
    }

    .resultContainer,
    .cardContainer {
        padding: 20px;
    }

    .cardTop {
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 10px;
        padding-bottom: 20px;
    }


    .cardContainer {
        display: grid;
        grid-template-rows: 70px 1fr;
    }

    .bottomButtons .button {
        padding: 10px 30px;
    }
}