{% load i18n %}
{% get_current_language as lang %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
        <div class="row" style="padding: 3rem; text-align:center">
            <h1>{% trans 'Deposit' %}</h1>
        </div>
        <div class="row p-5">
            <h3>{% trans 'Options to make the deposit:' %}</h3>
        </div>
        <div class="row p-3" style="text-align: center;">
            <div class="col" style="border: 2px solid black">
                <center class="p-2"><h5 for="paypal">{% trans 'Paypal' %}</h5></center>
                <center>{{ form.render }}</center>
            </div>
            <div class="col" style="border: 2px solid black">
                <center><h5>{% trans 'Credit Card' %}</h5></center>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <form action="" type="POST" name="cards_payment" id="cards_payment">
                            {% csrf_token %}
                            <div class="modal-header">
                                <div class="">
                                    <strong>Credit Card</strong>
                                    <small>enter your card details</small>
                                </div>
                            </div>
                            <div class="modal-body">
    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input class="form-control" id="name" type="text" placeholder="Enter your name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="ccnumber">Credit Card Number</label>
                                            <div class="input-group">
                                                <input class="form-control" type="text" placeholder="0000 0000 0000 0000" autocomplete="email">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="mdi mdi-credit-card"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="ccmonth">Month</label>
                                        <select class="form-control" id="ccmonth">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="ccyear">Year</label>
                                        <select class="form-control" id="ccyear">
                                            <option>2014</option>
                                            <option>2015</option>
                                            <option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                            <option>2023</option>
                                            <option>2024</option>
                                            <option>2025</option>
                                            <option>2026</option>
                                            <option>2027</option>
                                            <option>2028</option>
                                            <option>2029</option>
                                            <option>2030</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cvv">CVV/CVC</label>
                                            <input class="form-control" id="cvv" type="text" placeholder="123">
                                        </div>
                                    </div>
                                </div>
                            </div> <!--Modal Body-->
                            <div class="modal-footer card-footer">
                                <button class="btn btn-md btn-success float-right" type="submit">
                                    <i class="mdi mdi-gamepad-circle"></i> Continue</button>
                                <!-- <button class="btn btn-sm btn-danger" type="reset">
                                    <i class="mdi mdi-lock-reset"></i> Reset</button>     -->
                            </div> 
                        <button type="button" class="btn text-left" data-dismiss="modal">Close</button>
                    </form>
                </div> <!--Modal Content -->
            </div>
        </div>
    
                <!-- End Modal -->
                <center><button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal">Make Payment</button></center>
    
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>


