.box3x3 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 50px);
}

.box4x4 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 38px);
}

.box5x5 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 38px);
}

.bingoTableBottom {
    font-size: 1.3em;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #fff;
    color: #43c343;
}


.gameButton {
    cursor: pointer;
    padding: 5px 10px;
    background: linear-gradient(180deg, rgba(63, 128, 32, 1) 0%, rgba(25, 58, 14, 1) 100%);
    color: white;
    font-size: 0.6em;
    display: inline-block;
    border-radius: 5px;
}



@media only screen and (min-width: 800px) {
    .bingoTableBottom {
        border: none;
        padding: 0;
        padding-top: 10px;
    }
    .gameButton {
        font-size: 0.8em;
    }
}