{% load static %}
{% load i18n %}
{% get_current_language as lang %}

<style>

</style>
<div class="navbarIndex">
    <img class="logo" src="{% static 'images/polybingo-logo-new.png' %}" alt=""
        onclick="window.location.href = '{% url "bingo_main:bingo_main" %}'">
    <div>
        {% include 'bingo_main/partials/_messages.html' %}
    </div>

    <div class="menuItems">
        <div class="playButton desktop" onclick="openPlay()">{% trans 'Play' %}!</div>
        {% if user.is_authenticated %}
        <div class="buttonHost" onclick="window.location.href='{% url "bingo_main:dashboard" %}'">
            {% trans 'Dashboard' %}</div>
        {% else %}
        <div class="buttonHost" onclick="window.location.href='{% url "bingo_main:bingo_main_register" %}'">
            {% trans 'Become Host' %}</div>
        <span>
            <a href="login">
                {% trans 'Sign In' %}
            </a>
        </span>
        {% endif %}
        <!-- Language Menu -->
        <form action="{% url 'set_language' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="text" value="{{ redirect_to }}">
            {% if lang == 'he' %}
            <select name="language" id="home_lang_selector" style="margin-right: 1rem; margin-left:0.2rem">
                {% else %}
                <select name="language" id="home_lang_selector" style="margin-right: 0.2rem; margin-left:0.2rem">
                    {% endif %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }}
                    </option>
                    {% endfor %}
                    <input class="" type="submit" value="Go" {% if lang == 'he' %}
                        style="margin-left: 2rem; background-color: #8bc34a; color:white; border:0em; border-radius: 3px; padding:0.3rem; margin-left: 2rem">
                    {% else %}
                    style="margin-right: 2rem; background-color: #8bc34a; color:white; border:0em; border-radius: 3px;
                    padding:0.3rem; margin-right: 2rem; margin-left">
                    {% endif %}
                </select>
        </form>

        <!-- End -->


    </div>
</div>
<div class="playButton playBackground mobile" onclick="openPlay()">
    {% trans 'Play' %}!
</div>
<div class="infoBackground hostTitle" style="margin-top: 0.3rem;" {% if lang == 'he' %} dir='rtl' align='right'
    {% else %} style="text-align: left;" {% endif %}>
    {% trans 'Customize your bingo game' %}!
</div>