{% load static %}
<div class="navbarTop">
    <img class="logo" src="{% static 'dashboard/../images/logo.svg' %}" alt="" onclick="window.location.href = '{% url "bingo_main:bingo_main" %}'">
    <div>
        {% include 'bingo_main/partials/_messages.html' %} 
    </div>

    
    <div class="menuItems">
        <div id="addMoney" onclick="window.location.href = '{% url "bingo_main:add_money" %}'">
            <i class="fa fa-plus-square" aria-hidden="true"></i> €50
        </div>
        <img class="logo" src="{% static 'dashboard/../images/placeholder.png' %}" onclick="openSidebar()">
        
    </div>
</div>

{% if active_tab == 'none' %}
<div class="lowerNav">
</div>
{% else %}
    <div class="lowerNav">
        <span {% if active_tab == 'dashboard' %} class="active" {% endif %}>
            <a href='{% url "bingo_main:dashboard" %}'>
                Public Bingo's
            </a>
        </span>
        <span {% if active_tab == 'create_bingo' %} class="active" {% endif %}>
            <a href="{% url 'bingo_main:create_bingo' %}">
                Create Bingo
            </a>
        </span>
        <span {% if active_tab == 'my_bingos' %} class="active" {% endif %}>
            <a href="{% url 'bingo_main:my_bingos' %}">
                My Bingo's
            </a>
        </span>
    </div>
{% endif %}
<div class="sidebarProfile">
    <div id="closeButton" onclick="openSidebar()">
        <i class="fa fa-times"></i>
    </div>
    <form class="modal" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" id="name" pattern="[a-zA-Z0-9\s]+" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="email">Add your logo</label>
        <input type="file" name="complogo" id="complogo">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" minlength="5">
        <label for="country">Country</label>
        <br>
        <select name="country" id="country">
            <option value="">Choose your country...</option>
        </select>
        <br>
        <label for="company">Company Name</label>
        <input type="text" name="company" id="company">
        <label for="vat">VAT Number</label>
        <input type="text" name="vat" id="vat">
        <input type="submit" class="button grey" value="Update Details" name="updateProfile">
        <input type="button" class="button red" value="Log out" onclick="window.open('{% url "bingo_main:logout_view" %}');">
    </form>
</div>