{% load static %}
{% load i18n %}
{% get_current_language as lang %}

<div class="navbarTop">
    <img class="logo" src="{% static 'images/polybingo-logo-new.png' %}" alt="" onclick="window.location.href = '{% url "bingo_main:bingo_main" %}'">

    <table style="border-spacing: 15px; border-collapse: separate;">
        <tr>
            <td>
                <div class="menuItems">
                    <div id="addMoney" onclick="window.location.href = '{% url "bingo_main:add_money" %}'">
                        <i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{% trans 'Add funds to your account' %}"></i> ${{ user.balance|floatformat }}
                    </div>
                    <img class="logo"
                        src="{% if user.profile_pic %} {{ user.profile_pic.url }} {% else %} {% static 'images/placeholder.png' %} {% endif %}"
                        onclick="openSidebar()" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{% trans 'Profile' %}">
            
                </div>
            </td>
            <td class="top-language-bar">
                <!-- Language Menu -->           
                <div class="top-language-bar">
                    <form action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="text" value="{{ redirect_to }}">
                        <select class="lang-select" name="language" id="home_lang_selector" onchange="this.form.submit()">
                            <option class="form-control" value="">{% trans 'Change Language' %}</option>
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }}
                            </option>
                            {% endfor %}
                            <!-- <input class="" type="submit" value="Go" style="margin: 1rem;background-color: #8bc34a; color:white; border:0em; border-radius: 3px"> -->
                        </select>
                    </form>		
                </div>                
                <!-- End Language bar-->                
            </td>
        </tr>
    </table>
</div>

{% if active_tab == 'none' %}
<div class="lowerNav">
</div>
{% else %}
<div class="lowerNav">
    <span {% if active_tab == 'dashboard' %} class="active" {% endif %}>
        <a href='{% url "bingo_main:dashboard" %}'>
            {% trans 'Public Albums' %}
        </a>
    </span>
    <span {% if active_tab == 'create_bingo' %} class="active" {% endif %}>
        <a href="{% url 'bingo_main:create_bingo' %}">
            {% trans 'Create a Bingo Album' %}
        </a>
    </span>
    <span {% if active_tab == 'my_bingos' %} class="active" {% endif %}>
        <a href="{% url 'bingo_main:my_bingos' %}">
            {% trans 'My Albums' %}
        </a>
    </span>
    <span {% if active_tab == 'instructions' %} class="active" {% endif %}>
        <a href="{% url 'bingo_main:instructions' %}">
            {% trans 'Instructions' %}
        </a>
    </span>
</div>
{% endif %}
<div class="sidebarProfile">
    <div id="closeButton" onclick="openSidebar()">
        <i class="fa fa-times"></i>
    </div>
    <form class="my-modal" action="{% url 'bingo_main:update_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">{% trans 'Name' %}</label>
        <input type="text" name="name" id="name" pattern="[a-zA-Z0-9\s]+" 
            value="{% if user.first_name or user.last_name %}{{ user.first_name }} {{ user.last_name }}{% elif user.name %}{{ user.name }} {% else %}{% endif %}">
        <label for="email">{% trans 'Email' %}</label>
        <input type="email" name="email" id="email" value="{{ user.email }}">
        <label for="email">{% trans 'Add your logo' %}</label>
        <input type="file" name="complogo" id="complogo">
        <label for="password">{% trans 'Password' %}</label>
        <input type="password" name="password" id="password" minlength="5">
        <!-- <label for="country">Country</label>
        <br>
        <select name="country" id="country">
            <option value="none">Choose your country...</option>
        </select> -->
        <br>
        <label for="company">{% trans 'Company Name' %}</label>
        <input type="text" name="company" id="company" value="{% if user.company_name %} {{ user.company_name }} {% else %} {% endif %}">
        <label for="vat">{% trans 'VAT Number' %}</label>
        <input type="text" name="vat" id="vat" value="{% if user.company_name %}{{ user.vat_number }}{% else %}{% endif %}">
        <input type="submit" class="button grey" value="{% trans 'Update Details' %}" name="updateProfile">
        <!-- <input type="button" onclick="update_profile()" class="button grey" value="Update Details" name="updateProfile"> -->
        <center><a type="button" class="btn btn-lg btn-danger mt-2" value="{% trans 'Logout' %}"
                href="{% url 'bingo_main:logout_view' %}">{% trans 'Logout' %}</a></center>
    </form>
</div>

<script>
    function openSidebar() {
        let el = document.querySelector('.sidebarProfile');

        if (el.style.display == '') {
            return el.style.display = 'block'
        }

        el.style.display = '';
    }
</script>

<script>


    function update_profile() {
        var formData = new FormData();
        var img = document.querySelector('input[type="file"]');
        console.log(`IMAGE: ${img.value}`)
        //img.src = URL.createObjectURL(this.files[0]);
        let profile_update_url = '{% url "bingo_main:update_profile" %}'
        let postData = {
            name: document.querySelector('input[name="name"]').value,
            company_name: document.querySelector('input[name="company"]').value,
            country: document.querySelector('select[name="country"]').value,
            profile_image: img,
            vat: document.querySelector('input[name="vat"]').value
        };
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        formData.append('profile_data', JSON.stringify(postData))
        $.ajax({
            type: 'POST',
            url: profile_update_url,
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function () {
                alert('Profile Updated!');
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ":" + xhr.responseText)
                var w = window.open('about:blank');
                w.document.open();
                w.document.write(xhr.responseText);
                w.document.close();
            }
        });
    }
</script>