{% extends 'bingo_main/base.html' %}
{% load static %}
{% block content %}

    {% include 'bingo_main/partials/_navbar_index.html' %}

    <div class="registerForm" id="">
        <form class="modal" method="POST" action="{% url 'bingo_main:bingo_main_login' %}">
            {% csrf_token %}
            <label for="email">Email</label>
            <input type="email" name="username" id="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" class="playButton grey" value="Login!">
            <div class="errorBox" id="submitError">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, repellendus.
            </div>
        </form>
    </div>
{% endblock content %}