{% extends "bingo_main/base.html" %}

{% load i18n %}

{% block title %}Polybingo - Password Recovery{% endblock %}

{% block content %}
    {% include 'bingo_main/partials/_navbar_index.html' %}

	<section class="ftco-section testimony-section mt-5" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-4 col-lg-4">
                    <div class="center-sign">
    
                        <div class="panel ">
                            <div class="panel-title-sign mt-xl text-right">
                                <h2 class="title text-bold m-none text-center">{% trans 'Unable to log in?' %}</h2>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <p class="m-none text-semibold h6">{% trans 'We will send a recovery link to' %}</p>
                                </div>
    
                                <form method="POST" id='recoverPassword'>
                                    {% csrf_token %}
                                    <div class="form-group mb-none">
                                        <div class="input-group">
                                            <input name="login_email" type="email" placeholder="E-mail" class="form-control input-lg" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary btn-lg ml-3" type="submit">{% trans 'Reset!' %}</button>
                                            </span>
                                        </div>
                                    </div>
    
                                    <p class="text-center mt-lg">{% trans 'Remembered?' %} <a href="{% url 'bingo_main:bingo_main_login' %}">{% trans 'Login' %}</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</section>
		<!-- end: page -->

        {% endblock content %}