{% extends 'bingo_main/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as lang %}

{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'dashboard/css/bingoStart.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">

{% endblock css %}

{% include 'bingo_main/partials/_navbar_top.html' %}
<section class="ftco-section services-section bg-light" {% if lang == 'he' %} dir='rtl' align='right' {% else %}
    style="text-align: left;" {% endif %}>
    <div class="container">
        <div class="row d-flex" style="margin-left: 10%; margin-right:10%;  margin-bottom: 10%">
            <form class="form-group" action="" name="depositForm" id="depositForm" method="POST">
                {% csrf_token %}
                <div class="" style="margin-top: 5%;">
                    <h3>{% trans 'Deposit Funds' %}</h3>
                    <div class="">{% trans 'How much money would you like to add to your account' %}?</div>
                    <select class="form-control" name="deposit_amount" id="deposit_amount">
                        <option value="">{% trans 'Choose an amount' %}...</option>
                        <option value="10">$10</option>
                        <option value="20">$20</option>
                        <option value="50">$50</option>
                        <option value="100">$100</option>
                        <option value="other">{% trans 'Other' %}</option>
                    </select>
                    <label for="money">{% trans 'Enter a custom amount' %}</label>
                    <input type="number" name="money" id="money" class="form-control">

                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="coupon">{% trans 'Coupon' %}</label>
                            <input type="text" name="coupon" id="coupon" class="form-control">
                        </div>
                    </div>
                    <div class="buttonSplit mt-3">
                        <button class="btn btn-success mt-2" type="submit"
                            name="make_payment">{% trans 'Make Payment' %}</button>
                    </div>
                    <!-- <div class="errorBox">
                        Hello world
                    </div> -->
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}

{% block bottom_js %}
{% endblock bottom_js %}