{% extends 'bingo_main/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as lang %}

{% block title %}{% trans 'Polybingo-Create a Bingo Album' %}{% endblock title %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'dashboard/css/index.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/global.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/create.css' %}">
<link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endblock css %}

{% block content %}


{% include 'bingo_main/partials/_navbar_top.html' with active_tab='create_bingo' %}

<div class="topBar" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
    <div class="loading" id="loader"></div>

    <div class="titleBar">
        {% trans 'Card sizes' %}
    </div>
    <div class="bingoSizes">
        <div class="chooseSize">
            <div class="box3x3 bingoTable">
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
            </div>
            3x3 (18 - 33 {% trans 'images uploaded' %})
        </div>
        <div class="chooseSize">
            <div class="box4x4 bingoTable">
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
            </div>
            4x4 (34 - 66 {% trans 'images uploaded' %})
        </div>
        <div class="chooseSize">
            <div class="box5x5 bingoTable">
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
            </div>
            5x5 (67 - 99 {% trans 'images uploaded' %})
        </div>
    </div>
    <div class="titleBar" id="imagesUploaded">
        {% trans 'Upload images' %} ({{ current_album_pictures|length }} {% trans 'Uploaded' %})
    </div>
    <form action="/file-upload" class="dropzone" id="images">
        <div class="dz-message" data-dz-message><img src="{% static 'images/upload-icon.svg' %}" alt="">
            {% trans 'Upload or drop images here' %}!</div>
    </form>
    {% if current_album %}
    <br>
    <h2>{% trans 'Edit images' %}</h2>
    <div class="uploadedImages">
    </div>
    {% else %}
    <div class="uploadedImages"></div>
    {% endif %}

    {% if lang == 'he' %}
    <div class="titleBar">?{% trans 'Where should it be saved' %}</div>
    {% else %}
    <div class="titleBar">{% trans 'Where should it be saved' %}?</div>
    {% endif %}
    <input type="radio" name="bingoType" value="private" id="private" checked onclick="checkCopyright(this)">
    <label for="private">{% trans 'My Albums' %}</label>
    <i class="p-1 fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" 
    data-placement="top" title="{% trans 'Only you can use the album' %}">
    </i>

    <br>
    <input class="" type="radio" name="bingoType" value="public" id="public" onclick="checkCopyright(this)"
        {% if current_album.is_public %} checked {% endif %}>
    <label for="public">{% trans 'Public Albums' %}</label>
        <i class="p-1 fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" 
        data-placement="top" title="{% trans 'Make your album publicly used and visible to all hosts' %}">
        </i>
    <div class="errorBox" id="copyright">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, repellendus.
    </div>
    <br>
    <table style="width: 100%;">
        <tbody>
            <tr style="vertical-align: top;">
                <td style="width: 30%;">
                    <div style="margin-top:2rem; border: solid 2px; max-width: 80%">
                        <input type="text" placeholder="{% trans 'Name' %}" style="padding: 5px;" id="album-name"
                            value="{{ current_album.name }}">
                    </div>     

                    <div style="margin-top:2rem; max-width: 40%">
                        <select name="album_category" id="album_category">
                            {% if current_album.album_category %}
                            <option style="width: 100%;" value="">{% trans 'Category' %}: {{ current_album.album_category }}</option>
                            {% else %}
                            <option style="width: 100%;" value="">{% trans 'Select Album Category' %}</option>
                            {% endif %}
                            {% for category in categories %}
                            <option style="width: 100%;" value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>     
                    <div class="saveButton" onclick="createBingo()">{% trans 'Save' %}</div>
                    <div class="errorBox" id="submitError">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, repellendus.
                    </div>            
       
                </td>
                <td style="width: 40%">
                    <textarea  name="description" id="description" cols="5" 
                            placeholder="{% trans 'Description' %}"
                        rows="10" style="border:  solid 2px; margin-top:2rem; width: 30%"
                        required>{% if current_album.description %}{{ current_album.description }}{% endif %}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}

{% block js_bottom %}

<script src="{% static 'js/dropzone.js' %}"></script>

<script>
    function openSidebar() {
        let el = document.querySelector('.sidebarProfile');

        if (el.style.display == '') {
            return el.style.display = 'block'
        }

        el.style.display = '';
    }

    function resizeBox() {
        // 3x3 Box
        let width3x3 = document.querySelector('.box3x3 .field').offsetWidth;
        document.querySelector('.box3x3').style.gridTemplateRows = `repeat(3, ${width3x3}px)`

        // 4x4 Box
        let width4x4 = document.querySelector('.box4x4 .field').offsetWidth;
        document.querySelector('.box4x4').style.gridTemplateRows = `repeat(4, ${width4x4}px)`

        // 5x5 Box
        let width5x5 = document.querySelector('.box5x5 .field').offsetWidth;
        document.querySelector('.box5x5').style.gridTemplateRows = `repeat(5, ${width5x5}px)`

    }

    function checkCopyright(el) {
        document.querySelector('#copyright').style.display = 'none';

        if (el.value == "public") {
            document.querySelector('#copyright').innerHTML =
                "{% trans 'Polybingo team will review all images before publishing. Please make sure you have permission to use these images.' %}"
            document.querySelector('#copyright').style.display = 'block';
        }

    }
    resizeBox();
    window.addEventListener('resize', function (e) {
        resizeBox();
    });

    let myDropzone;
    let imagesUploaded = 0;
    let deletePKs = [];

    Dropzone.options.images = {
        maxFilesize: 10, // MB
        previewsContainer: document.querySelector('.uploadedImages'),
        previewTemplate: `<div class="image">
                <img data-dz-thumbnail>
                <div class="imageBottom">
                    <input type="text" maxlength="12" placeholder="{% trans 'Enter name' %}">
                    <i class="fa fa-trash" data-dz-remove onclick="removePicture()"></i>
                </div>
            </div>`,
        thumbnailHeight: null,
        thumbnailWidth: null,
        acceptedFiles: 'image/*',
        autoProcessQueue: false,
        init: function () {
            myDropzone = this;
            this.on("addedfiles", function (listFiles) {
                console.log('hide save');
            });
            this.on("addedfile", function (file) {
                if (this.files.length) {
                    for (let x = 0; x < myDropzone.files.length - 1; x++) {
                        if (this.files[x].name == file.name) {
                            alert("You have already uploaded this file!");
                            // Enable Save button
                            return this.removeFile(file);
                        }
                    }
                }
                if (typeof file.title !== 'undefined') {
                    file.previewElement.getElementsByTagName("input")[0].value = file.title;
                }
                imagesUploaded++;
                if (file.pk) {
                    add_to_length = 1;
                } else {
                    add_to_length = 0;
                }
                document.querySelector('#imagesUploaded').innerHTML =
                    ` 2. Upload images (${this.files.length + add_to_length} Uploaded)`;
            });

            {% for pic in current_album_pictures %}
            var mockFile = {
                name: "{{ pic.name }}",
                size: 12345,
                type: 'image/jpeg',
                status: Dropzone.ADDED,
                pk: "{{ pic.pk}}",
                title: "{{ pic.title }}"
            };

            // Call the default addedfile event handler
            myDropzone.emit("addedfile", mockFile);

            // And optionally show the thumbnail of the file:
            myDropzone.emit("thumbnail", mockFile, "{{ pic.image_file.url }}");

            myDropzone.files.push(mockFile);
            {% endfor %}



            this.on("removedfile", function (file) {
                // Only files that have been programmatically added should
                // have a pk property.
                if (file.pk && file.pk.trim().length > 0) {
                    deletePKs.push(file.pk);
                }
            });
        }
    };

    function removePicture() {
        imagesUploaded--;
        document.querySelector('#imagesUploaded').innerHTML =
            ` 2. Upload images (${myDropzone.files.length - 1} Uploaded)`;
    };

    function createBingo() {

        //Upadting GTM
        //////////////
        updateGTM({event: 'save_album', userId:'{{ user.pk }}'})
        //////////////

        let album_name = document.querySelector('input[id="album-name"]').value;
        let album_description = document.querySelector('#description').value;
        let album_category = document.querySelector('#album_category').value;

        let images = myDropzone.files;
        let album_type = document.querySelector('input[name="bingoType"]:checked').value
        const errorBox = document.querySelector('#submitError');
        let postData = {
            images: [],
            saveLocation: document.querySelector('input[name="bingoType"]:checked').value,
            album_name: album_name,
            album_description: album_description,
            album_category: album_category
        };
        errorBox.style.display = '';
        if (imagesUploaded < 18 || imagesUploaded > 99) {
            errorBox.innerHTML =
                `You have uploaded ${imagesUploaded} out of the minimum required 18 images or higher than 99! Please upload the required files and re-submit!`;
            return errorBox.style.display = 'block';
        } else if (album_name == ''){
            errorBox.innerHTML =
                "{% trans 'Please enter a name to the album' %}";
            return errorBox.style.display = 'block';
        } else if (album_category == ''){
            errorBox.innerHTML =
                "{% trans 'Please select a category for the album' %}";
            return errorBox.style.display = 'block';
        }
        let error = false;
        /*
        document.querySelectorAll('.imageBottom input').forEach(el => {
            if (el.value == "") {
                errorBox.innerHTML =
                `Please enter a title for the images!`;
                error = true;
                return errorBox.style.display = 'block';
            }
        });
        */
        if (error) return;

        for (let x = 0; x < document.querySelectorAll('.image img').length; x++) {
            const el = document.querySelectorAll('.image img')[x];
            let imageData = {
                dataURL: images[x].dataURL,
                lastModified: images[x].lastModified,
                name: images[x].name,
                size: images[x].size
            };
            postData.images.push({
                imageName: el.nextElementSibling.querySelector('input').value,
                image: imageData,
                pk: images[x].pk
            })
        }
        //console.log(`DATA: ${postData.images[0].image.dataURL}`)

        {% if current_album %}
        var createBingoUrl = "{% url 'bingo_main:create_bingo' album_id=current_album.pk %}"
        {% else %}
        var createBingoUrl = "{% url 'bingo_main:create_bingo' %}"
        {% endif %}
        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        formData.append('images', JSON.stringify(postData))
        formData.append('delete_images', deletePKs)
        formData.append('name', album_name)
        formData.append('description', album_description)
        formData.append('category', album_category)

        loader = document.getElementById('loader');
        loader.style.display = 'block';
        $.ajax({
            type: 'POST',
            url: createBingoUrl,
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function () {
                //alert('Album saved!');
                if (album_type == 'private') {
                    window.location.href = '{% url "bingo_main:my_bingos" %}';
                } else {
                    window.location.href = '{% url "bingo_main:dashboard" %}';
                }

            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ":" + xhr.responseText)
                var w = window.open('about:blank');
                w.document.open();
                w.document.write(xhr.responseText);
                w.document.close();
            }
        })
        console.log('END UPLOAD');
        //$('.loading').display = 'none'

        // Send request to server with whatever server requires.
        //window.location.href = '{% url "bingo_main:create_bingo" %}';
        console.log('CREATED!!!!')
    }
</script>
{% endblock js_bottom %}