{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatrixBingo</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/../css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/create.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/../css/dropzone.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="{% static 'dashboard/../js/dropzone.js' %}"></script>
</head>

<body>
    <div class="navbarTop">
        <img class="logo" src="{% static 'dashboard/../images/logo.svg' %}" alt="" onclick="window.location.href = '{% url "bingo_main:bingo_main" %}'">
        <div class="menuItems">
            <div id="addMoney" onclick="window.location.href = '{% url "bingo_main:add_money" %}'">
                <i class="fa fa-plus-square" aria-hidden="true"></i> €50
            </div>
            <img class="logo" src="{% static 'dashboard/../images/placeholder.png' %}" onclick="openSidebar()">
        </div>
    </div>

    <div class="lowerNav">
        <span>
            <a href='{% url "bingo_main:dashboard" %}'>
                Public Bingo's
            </a>
        </span>
        <span class="active">
            <a href="{% url 'bingo_main:create_bingo' %}">
                Create Bingo
            </a>
        </span>
        <span>
            <a href="{% url 'bingo_main:my_bingos' %}">
                My Bingo's
            </a>
        </span>
    </div>

    <div class="sidebarProfile">
        <div id="closeButton" onclick="openSidebar()">
            <i class="fa fa-times"></i>
        </div>
        <form class="modal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="name" id="name" pattern="[a-zA-Z0-9\s]+" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="email">Add your logo</label>
            <input type="file" name="complogo" id="complogo">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" minlength="5">
            <label for="country">Country</label>
            <br>
            <select name="country" id="country">
                <option value="">Choose your country...</option>
            </select>
            <br>
            <label for="company">Company Name</label>
            <input type="text" name="company" id="company">
            <label for="vat">VAT Number</label>
            <input type="text" name="vat" id="vat">
            <input type="submit" class="button grey" value="Update Details" name="updateProfile">
            <input type="button" class="button red" value="Log out" onclick="window.open('{% url "bingo_main:logout_view" %}');">
        </form>
    </div>

    <div class="topBar">
        <div class="titleBar">
            Card sizes
        </div>
        <div class="bingoSizes">
            <div class="chooseSize">
                <div class="box3x3 bingoTable">
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                </div>
                3x3 (18 - 31 images uploaded)
            </div>
            <div class="chooseSize">
                <div class="box4x4 bingoTable">
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                </div>
                4x4 (32 - 53 images uploaded)
            </div>
            <div class="chooseSize">
                <div class="box5x5 bingoTable">
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                </div>
                5x5 (54 - 99 images uploaded)
            </div>
        </div>
        <div class="titleBar" id="imagesUploaded">
            Upload images (0 Uploaded)
        </div>
        <form action="/file-upload" class="dropzone" id="images">
            <div class="dz-message" data-dz-message><img src="{% static 'dashboard/../images/imageUpload.png' %}" alt=""> Upload or drop images
                here!</div>
        </form>
        <div class="uploadedImages"></div>

        <div class="titleBar">Where should it be saved?</div>
        <input type="radio" name="bingoType" value="private" id="private" checked onclick="checkCopyright(this)">
        <label for="private">My Bingo's</label>
        <input type="radio" name="bingoType" value="public" id="public" onclick="checkCopyright(this)">
        <label for="public">Public Bingo's</label>
        <div class="errorBox" id="copyright">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, repellendus.
        </div>
        <br>
        <div class="saveButton" onclick="createBingo()">Save</div>
        <div class="errorBox" id="submitError">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, repellendus.
        </div>
    </div>

    <div class="lowerNavigation">
        <ul>
            <li><a href="{% url 'bingo_main:about' %}">About</a></li>
            <li><a href="{% url 'bingo_main:why_and_how' %}">Why and How</a></li>
            <li><a href="{% url 'bingo_main:pricing' %}">Pricing</a></li>
            <li><a href="{% url 'bingo_main:terms' %}">Terms and Conditions</a></li>
            <li><a href="{% url 'bingo_main:contact' %}">Contact</a></li>
        </ul>
    </div>
    <script>
        function openSidebar() {
            let el = document.querySelector('.sidebarProfile');

            if (el.style.display == '') {
                return el.style.display = 'block'
            }

            el.style.display = '';
        }

        function resizeBox() {
            // 3x3 Box
            let width3x3 = document.querySelector('.box3x3 .field').offsetWidth;
            document.querySelector('.box3x3').style.gridTemplateRows = `repeat(3, ${width3x3}px)`

            // 4x4 Box
            let width4x4 = document.querySelector('.box4x4 .field').offsetWidth;
            document.querySelector('.box4x4').style.gridTemplateRows = `repeat(4, ${width4x4}px)`

            // 5x5 Box
            let width5x5 = document.querySelector('.box5x5 .field').offsetWidth;
            document.querySelector('.box5x5').style.gridTemplateRows = `repeat(5, ${width5x5}px)`

        }

        function checkCopyright(el) {
            document.querySelector('#copyright').style.display = 'none';

            if (el.value == "public") {
                document.querySelector('#copyright').innerHTML =
                    'Matrix Bingo will review all images before publishing. Please make sure you have permission to use these images.'
                document.querySelector('#copyright').style.display = 'block';
            }

        }
        resizeBox();
        window.addEventListener('resize', function (e) {
            resizeBox();
        });

        let myDropzone;
        let imagesUploaded = 0;

        Dropzone.options.images = {
            maxFilesize: 2, // MB
            previewsContainer: document.querySelector('.uploadedImages'),
            previewTemplate: `<div class="image">
                <img data-dz-thumbnail>
                <div class="imageBottom">
                    <input type="text" maxlength="12" placeholder="Enter name">
                    <i class="fa fa-trash" data-dz-remove></i>
                </div>
            </div>`,
            thumbnailHeight: null,
            thumbnailWidth: null,
            acceptedFiles: 'image/*',
            autoProcessQueue: false,
            init: function () {
                myDropzone = this;
                this.on("addedfile", function (file) {
                    if (this.files.length) {
                        for (let x = 0; x < myDropzone.files.length - 1; x++) {
                            if (this.files[x].name == file.name) {
                                alert("You have already uploaded this file!");
                                return this.removeFile(file);
                            }
                        }
                        imagesUploaded++;
                        document.querySelector('#imagesUploaded').innerHTML =
                            ` 2. Upload images (${imagesUploaded} Uploaded)`;

                    }
                });
            }
        };

        function createBingo() {
            let images = myDropzone.files;
            const errorBox = document.querySelector('#submitError');
            let postData = {
                images: [],
                saveLocation: document.querySelector('input[name="bingoType"]:checked').value
            };
            errorBox.style.display = '';
            if (imagesUploaded < 18) {
                errorBox.innerHTML =
                    `You have uploaded ${imagesUploaded} out of the minimum required 18 images! Please upload the required files and re-submit!`;
                return errorBox.style.display = 'block';
            }
            let error = false;
            document.querySelectorAll('.imageBottom input').forEach(el => {
                if (el.value == "") {
                    errorBox.innerHTML =
                        `Please enter a title for the images!`;
                    error = true;
                    return errorBox.style.display = 'block';
                }
            });

            if (error) return;

            for (let x = 0; x < document.querySelectorAll('.image img').length; x++) {
                const el = document.querySelectorAll('.image img')[x];
                let imageData = {
                    dataURL: images[x].dataURL,
                    lastModified: images[x].lastModified,
                    name: images[x].name,
                    size: images[x].size
                };
                postData.images.push({
                    imageName: el.nextElementSibling.querySelector('input').value,
                    image: imageData
                })
            }

            // Send request to server with whatever server requires.
            window.location.href = './';
        }
    </script>
</body>

</html>