{% extends 'bingo_main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/../css/styles.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/index.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/global.css' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'dashboard/../js/dropzone.js' %}"></script>
{% endblock js %}

{% block content %}

{% include 'bingo_main/partials/_navbar_top.html' with active_tab='dashboard' %}

<div class="bingoContainer">
    <div class="bingoBox">
        <div class="bingoTable box3x3">

        </div>
        <div class="bingoTableBottom">
            3x3 Bingo Name
            <div class="gameButton" onclick="createGame()">make game</div>
        </div>
    </div>
    <div class="bingoBox">
        <div class="bingoTable box4x4">

        </div>
        <div class="bingoTableBottom">
            4x4 Bingo Name
            <div class="gameButton" onclick="createGame()">make game</div>
        </div>
    </div>
    <div class="bingoBox">
        <div class="bingoTable box5x5">

        </div>
        <div class="bingoTableBottom">
            5x5 Bingo Name
            <div class="gameButton" onclick="createGame()">make game</div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js_bottom %}
<script>
    function openSidebar() {
        let el = document.querySelector('.sidebarProfile');
        
        if (el.style.display == '') {
            return el.style.display = 'block'
        }
        
        el.style.display = '';
    }

    function createGame(id) {
        // Redirect to start game screen with game id
    }

    function getBingos() {

        // Get bingos from server and format

        // Delete on live
        let imageList = ["https://picsum.photos/id/0/5616/3744"]
        imageList = imageList.sort(() => Math.random() - 0.5)

        // 3x3 Box
        for (let x = 0; x != 18; x++) {

            document.querySelector('.box3x3').innerHTML +=
                `<div class="field"><img src="${(!imageList[x])? 'https://picsum.photos/id/0/5616/3744' : imageList}" alt=""></div>`;
        }

        imageList = imageList.sort(() => Math.random() - 0.5)
        // 4x4 Box
        for (let x = 0; x != 32; x++) {
            document.querySelector('.box4x4').innerHTML +=
                `<div class="field"><img src="${(!imageList[x])? 'https://picsum.photos/id/0/5616/3744' : imageList}" alt=""></div>`;
        }

        imageList = imageList.sort(() => Math.random() - 0.5)
        // 5x5 Box
        for (let x = 0; x != 54; x++) {
            document.querySelector('.box5x5').innerHTML +=
                `<div class="field"><img src="${(!imageList[x])? 'https://picsum.photos/id/0/5616/3744' : imageList}" alt=""></div>`;
        }

        resizeBox();
    }

    function resizeBox() {
        // 3x3 Box
        let width3x3 = document.querySelector('.box3x3 .field').offsetWidth;
        document.querySelector('.box3x3').style.gridTemplateRows = `repeat(3, ${width3x3}px)`

        // 4x4 Box
        let width4x4 = document.querySelector('.box4x4 .field').offsetWidth;
        document.querySelector('.box4x4').style.gridTemplateRows = `repeat(4, ${width4x4}px)`

        // 5x5 Box
        let width5x5 = document.querySelector('.box5x5 .field').offsetWidth;
        document.querySelector('.box5x5').style.gridTemplateRows = `repeat(6, ${width5x5}px)`

    }

    window.addEventListener('resize', function (e) {
        resizeBox();
    });
    getBingos();
</script>
{% endblock js_bottom %}