{% extends 'bingo_main/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as lang %}

{% block content %}

<style>
    .my-nav-link {
        display: block;
        padding: 0.5rem 1rem;
    }

    .my-nav-link:hover, .my-nav-link:focus {
        text-decoration: none;
    }
  
  .my-nav-link.disabled {
    color: #0df24e;
    pointer-events: none;
    cursor: default;
  }
  
    .nav-pills .my-nav-link {
    border-radius: 0.25rem;
  }
  
  .nav-pills .my-nav-link.active,
  .nav-pills .show > .my-nav-link {
    color: #3a741f;
    background-color: #ffdc26;
  }
  
</style>

<section class="inner-page" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
<div class="container" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
    <div class="row" style="margin-bottom: 15rem; margin-top: 5%">
        <div class="col-md-12" >
            <center>
                <div class="tabs">
                    <nav class="nav nav-pills flex-column flex-sm-row">
                        <a class="flex-sm-fill text-sm-center my-nav-link active" data-toggle="tab" href="#create_album"><span class="fa-stack">
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <strong class="fa-stack-1x">
                                1    
                            </strong>
                        </span> {% trans 'Create Album' %}</a>
                        <a class="flex-sm-fill text-sm-center my-nav-link" data-toggle="tab" href="#create_game"><span class="fa-stack">
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <strong class="fa-stack-1x">
                                2    
                            </strong>
                        </span> {% trans 'Create a Game' %}</a>
                        
                        <a class="flex-sm-fill text-sm-center my-nav-link" data-toggle="tab" href="#setup_game"><span class="fa-stack">
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <strong class="fa-stack-1x">
                                3    
                            </strong>
                        </span> {% trans 'Setup a Game' %}</a>
                        <a class="flex-sm-fill text-sm-center my-nav-link" data-toggle="tab" href="#broadcast"><span class="fa-stack">
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <strong class="fa-stack-1x">
                                4   
                            </strong>
                        </span> {% trans 'Broadcast/Share the Game' %}</a>
                        
                        <a class="flex-sm-fill text-sm-center my-nav-link" data-toggle="tab" href="#run_game"><span class="fa-stack">
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <strong class="fa-stack-1x">
                                5   
                            </strong>
                        </span> {% trans 'Run the Game' %}</a>
                    </nav>
                    <hr>
                    <div class="tab-content" >
                        <div id="create_album" class="tab-pane active">
                            <h3 {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>{{ section_a.title }}</h3>
                            <div class="row" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ section_a.content | safe }}
                                </div>
                                <div class="col">
                                    <div class="yt-container">
                                        {% if section_a.video %}
                                            <iframe src="{{ section_a.video }}" frameborder="0" allowfullscreen></iframe>
                                        {% endif %}
                                     </div>
                                </div>
                            </div>
                            <div class="row mt-4 mr-2 ml-2">
                                <a href="{% url 'bingo_main:create_bingo' %}" class="btn btn-success">{% trans 'Create Album' %}</a>
                            </div>
                        </div>
                        <div id="create_game" class="tab-pane">
                            <h3 {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>{{ section_b.title }}</h3>
                            <div class="row" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ section_b.content | safe }}
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="yt-container">
                                        {% if section_b.video %}
                                            <iframe src="{{ section_b.video }}" frameborder="0" allowfullscreen></iframe>
                                        {% endif %}
                                     </div>
                                </div>
                            </div>
                            <div class="row mt-4 mr-2 ml-2">
                                <a href="{% url 'bingo_main:my_bingos' %}" class="btn btn-success">{% trans 'Create a Game' %}</a>
                            </div>
                        </div>
                        <div id="setup_game" class="tab-pane">
                            <h3 {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>{{ section_c.title }}</h3>
                            <div class="row" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
                                {% if section_c.video %}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ section_c.content | safe }}
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="yt-container">
                                            <iframe src="{{ section_c.video }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ section_c.content | safe }}
                                </div>
                                {% endif %}
                            </div>
                            <div class="row mt-4 mr-2 ml-2">
                                <a href="{% url 'bingo_main:my_bingos' %}" class="btn btn-success">{% trans 'Create a Game' %}</a>
                            </div>
                        </div>
                        <div id="broadcast" class="tab-pane">
                            <h3 {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>{{ section_d.title }}</h3>
                            <div class="row" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
                                {% if section_d.video %}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ section_d.content | safe }}
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="yt-container">
                                            <iframe src="{{ section_d.video }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ section_d.content | safe }}
                                </div>
                                {% endif %}
                            </div>
                            <div class="row mt-4 mr-2 ml-2">
                                <a href="{% url 'bingo_main:my_bingos' %}" class="btn btn-success">{% trans 'Create a Game' %}</a>
                            </div>
                        </div>
                        <div id="run_game" class="tab-pane">
                            <h3 {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>{{ section_e.title }}</h3>
                            <div class="row" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;" {% endif %}>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ section_e.content | safe }}
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="yt-container">
                                        {% if section_e.video %}
                                            <iframe src="{{ section_e.video }}" frameborder="0" allowfullscreen></iframe>
                                        {% endif %}
                                     </div>
                                </div>
                            </div>
                            <div class="row mt-4 mr-2 ml-2">
                                <a href="{% url 'bingo_main:my_bingos' %}" class="btn btn-success">{% trans 'Create a Game' %}</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </center>

        </div>
    </div>
</div>
</section>
{% endblock content %}