<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="robots" content="noindex">
    <title>PolyBingo API</title>
</head>
<body>
    {% if user%}
    <div class="container">
            <section>
                <div class="mt-5">
                    <h3>Player</h3>
                </div>
                <div class="row mt-3">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="row mb-2">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                            
                            {% endif %}

                        </div>
                        <div class="row">
                            <div class="col-3">
                                <input type="text" id="playerGameId" name="playerGameId" placeholder="Enter Game ID">
                            </div>
                            <div class="col-3">
                                <input type="text" id="nickname" name="nickname" placeholder="Enter Nickname">
                            </div>
                            <div class="col-3">
                                <button class="btn btn-success btn-lg" type="button" id="enterGame" name="enterGame">Play</button>

                            </div>
                        </div>
                    </div>
                </div>
                </div> 
            </section>

        </form>

        </div>
    </div>
    
    {% endif %}
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Websocket -->
    <script>
        //Open game socket

        var gameId = '0000';
    
        const scheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
        console.log(`WS is ready. Dummy room ${gameId}!`)
        const gameSocket = new WebSocket(
            scheme
            + window.location.host
            + '/ws/game/'
            + gameId
            + '/'
        );    

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#game-log').value += (data.message + '\n');

            // OPEN THE LIST TO THE IMAGE THAT IS RECEIVED
        };

        gameSocket.onclose = function(e) {
            console.error('Game socket closed unexpectedly');
        };


        document.querySelector('#playerGameId').focus();

        document.querySelector('#playerGameId').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#enterGame').click();
            }
        };
        
        document.querySelector('#enterGame').onclick = function(e) {
            gameId = document.querySelector('#playerGameId').value;
            //console.log(`${gameId}`);
            
            // Send a message about new user
            var entered_nickname = document.querySelector('#nickname').value;
            nickname = entered_nickname != "" ? entered_nickname : "Bob" + `${Math.floor(Math.random() * 10000)}`;
            var data = {
                'game_id': gameId,
                'nickname': nickname
            }

            gameSocket.send(JSON.stringify({
                'message_type': 'add.player', 
                'data': data,
            }));

            //window.location.pathname = '/game/' + gameId + '/';

        };

    </script>

</body>
</html>