<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>

    test_function = function() {
        $.ajax({
            url: "",
            success: function(response) {
                console.log('BABA');
            }
        });								            
    }


    $(document).ready(function(){
        test_function();
        /*
        $.ajax({
            url: "",
            success: function(response) {
                console.log('YES');
            }
        });								            
        */
    });

</script>